<title>Contacto</title>
<link href="./../../../assets/imagenes/arys/logo.png" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="inicio" class="image d-flex align-items-center">
        <img class="logocompany"/>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="inicio" >Inicio</a></li>
          <li><a href="qsomos">Quienes Somos</a></li>
<!---->          <!--          <li><a href="planes">Planes</a></li>--> 
          <li><a href="contact" class="active">Contáctanos</a></li>
          <li><a href="sign-in">Ingresar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main" style="background-color: white">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('./assets/imagenes/arys/planex.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>Contacto</h2>
        <ol>
          <li><a href="inicio">Inicio</a></li>
          <li>Contacto</li>
        </ol>
      </div>
    </div>
    <section id="contact" class="contact">
      <div class="container" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation-show-on-load="false">
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation-show-on-load="false">
              <i class="bi bi-map"></i>
              <h3>Nuestra Dirección</h3>
              <p>Colombia.</p>
              Colombia. Bogotá D.C. <br>
              <br>
              <p>Venezuela</p>
              Av. Bolívar Norte, Torre Camoruco, Piso 9, Ofic. 1. Valencia  Edo. Carabobo 
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Nuestro Correo</h3>
              <p><a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a></p>
              <br>
              <p><a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=siniestros@arysautos.com">siniestros@arysautos.com</a></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-telephone"></i>
              <h3>Llamanos</h3>
              <p><a href="tel:3174290143">+573174290143</a></p>
              <p><a href="tel:4144128237">+584144128237</a></p>
              <br>

            </div>
          </div>
        </div>
        <div class="row gy-4 mt-1">
          <div class="col-lg-6 "> 
            <div class="imagen">
              <img src="./../../../../assets/imagenes/arys/contacto.jpg" style="  box-shadow: 2px 2px 5px #999;width: 90%;border-radius: 15px;">
            </div>
            
          </div>
          <div class="col-lg-6">
            <form method="post" role="form">
              <div class="row gy-4">
                <div class="col-lg-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>

              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer" class="footer" style="background-image:url(./../../../../assets/imagenes/arys/planes.jpg); background-position: center;">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>ARYSAUTO CLUB</h3>
              <p>
                Colombia. Bogotá D.C. <br>

                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=573174290143&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos">+573174290143 </a><br>
                <strong>Teléfono:</strong><a href="tel:3188339485"> +57 3188339485</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="qsomos">Quienes Somos</a></li>
          </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Arys Autos, C.A.</h3>
              <p>
                Venezuela <br>

                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=584144128237&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos"> +584144128237 </a><br>
                <strong>Teléfono:</strong><a href="tel:05002797288"> 0500.2797288</a>
                <br>
                <strong>Teléfono:</strong><a href="tel:02418200184"> +58 241-8200184</a>
                <br>
                <strong>Teléfono:</strong><a href="tel:02414160810"> +58 241-4160810</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=siniestros@arysautos.com">siniestros@arysautos.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <!-- <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Arys Autos</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits">
          Diseñado por Compuamerica
        </div>
      </div>
    </div>
  </footer>
  <script src="./styles_Club/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./styles_Club/vendor/aos/aos.js"></script>
  <script src="./styles_Club/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./styles_Club/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./styles_Club/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./styles_Club/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="./styles_Club/js/main.js"></script>