<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.COLLECTIONORDERSFLEETCONTRACT" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editCollectionOrderFleetContract()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.REQUIREDBILLINGTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.BILLINGTYPE" | translate }}</label>
                                    <select formControlName="ifacturacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ifacturacion').errors }">
                                        <option></option>
                                        <option value="G">{{ "DROPDOWN.GLOBAL" | translate }}</option>
                                        <option value="I">{{ "DROPDOWN.INDIVIDUAL" | translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ifacturacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ifacturacion').errors.required">{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.REQUIREDBILLINGTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.GENERALSTATUS" | translate }}</label>
                                    <select formControlName="cestatusgeneral" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestatusgeneral').errors }">
                                        <option></option>
                                        <option *ngFor="let generalStatus of generalStatusList" value="{{ generalStatus.id }}">{{ generalStatus.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestatusgeneral').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestatusgeneral').errors.required">{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.REQUIREDGENERALSTATUS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-12">
                            {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.FLEETCONTRACTSLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-alpine" [rowData]="fleetContractList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single">
                            <ag-grid-column headerName="Code" field="ccontratoflota" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Plate" field="xplaca" [width]="208" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Brand" field="xmarca" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Model" field="xmodelo" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Version" field="xversion" [width]="207" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.PAYMENTSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addPayment()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTIONORDERSFLEETCONTRACTS.ADDPAYMENT" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="paymentList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="paymentRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onPaymentsGridReady($event)">
                            <ag-grid-column headerName="Code" field="cpago" [width]="346" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Amount" field="mpago" [width]="347" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Paid Out" field="xpagado" [width]="346" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>

