

<title>Login</title>

<!-- <div class="container" style="width: 430px;">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
      <form [formGroup]="signin_form" (ngSubmit)="onSubmit(signin_form.value)" style="background-color: white;border-radius: 21px;margin:32px 0px 44px 0px;padding-bottom: 32px;">
        <img src="./../../assets/imagenes/mundial-logo1.png" style="width: 197px; margin-left: 96px;margin-top: 43px;">
        <div class="row" style="margin-top: 20px;">
          <div class="col-12">
            <div class="form-group">
              <label  style="margin-left: 30px;">{{ "SIGNIN.EMAIL" | translate }}</label>
              <input  placeholder="Enter Email" type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && signin_form.get('xemail').errors }">
              <div *ngIf="submitted && signin_form.get('xemail').errors" class="invalid-feedback">
                <div *ngIf="signin_form.get('xemail').errors.required">{{ "SIGNIN.REQUIRED_EMAIL" | translate }}Correo requerido</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label  style="margin-left: 30px;">{{ "SIGNIN.PASSWORD" | translate }}</label>
              <input  placeholder="Enter Email" type="password" formControlName="xcontrasena" class="form-control" [ngClass]="{ 'is-invalid' : submitted && signin_form.get('xcontrasena').errors }">
              <div *ngIf="submitted && signin_form.get('xcontrasena').errors" class="invalid-feedback">
                <div *ngIf="signin_form.get('xcontrasena').errors.required">{{ "SIGNIN.REQUIRED_PASSWORD" | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-sm-12 col-md-6 mt-2">
            <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{ "SIGNIN.LOGIN" | translate }}
            </button>
          </div>
          <div class="col-sm-12 col-md-6 mt-2">
            <button type="button" class="btn btn-lg btn-block">{{ "SIGNIN.PASSWORD_RECOVERY" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
  <footer id="footer" class="footer" style="background-image:url(./../../../../assets/imagenes/arys/planes.jpg); background-position: center;">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Mundial Autos</h3>
              <p>
                Av. Francisco de Miranda, <br>
                Edif. Cavendes, Piso 11 OF 1101
Urb. Los Palos Grandes,<br>1060 Chacao,<br>Caracas.<br>
                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=584242061351&text=Gracias%20por%20comunicarte%20con%20La%20Mundial,%20en%20breves%20momentos%20te%20atenderemos">+584242061351 </a><br>
                <strong>Teléfono:</strong><a href="tel:02122839619"> +58 212 283-9619</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="qsomos">Quienes Somos</a></li>
               </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Mundial Autos</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits">
          Diseñado por Compuamerica
        </div>
      </div>
    </div>
  </footer> -->

<!-- 
<body class="sign-in-basic">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('../../assets/imagenes/sign-in.jpeg');" loading="lazy">
    <div data-aos="fade-in-down" data-aos-delay="200" *ngIf="alert.show" class="alert-container">
      <ngb-alert *ngIf="alert.show" [type]="alert.type">{{ alert.message | translate }}</ngb-alert>
    </div>
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
              </div>
            </div>
            <div class="card-body">
              <form role="form" class="text-start" [formGroup]="signin_form" (ngSubmit)="onSubmit(signin_form.value)">
                <div class="input-group input-group-outline my-3">
                  <input  placeholder="Introducir Correo" type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && signin_form.get('xemail').errors }">
                  <div *ngIf="submitted && signin_form.get('xemail').errors" class="invalid-feedback">
                    <div *ngIf="signin_form.get('xemail').errors.required">{{ "SIGNIN.REQUIRED_EMAIL" | translate }}Correo requerido</div>
                  </div>
                </div>
                <div class="input-group input-group-outline mb-3">
                  <input  placeholder="Introducir Contraseña" type="password" formControlName="xcontrasena" class="form-control" [ngClass]="{ 'is-invalid' : submitted && signin_form.get('xcontrasena').errors }">
                  <div *ngIf="submitted && signin_form.get('xcontrasena').errors" class="invalid-feedback">
                    <div *ngIf="signin_form.get('xcontrasena').errors.required">{{ "SIGNIN.REQUIRED_PASSWORD" | translate }}</div>
                  </div>               
                 </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>  -->



<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-5">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div data-aos="fade-in-down" data-aos-delay="200" *ngIf="alert.show" class="alert-container">
            <ngb-alert *ngIf="alert.show" [type]="alert.type">{{ alert.message | translate }}</ngb-alert>
          </div>
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Ingresar</h2>
            <form [formGroup]="signin_form" (ngSubmit)="onSubmit(signin_form.value)">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" [formControl]="signin_form.controls['xemail']"/>
                    <label class="form-label" for="form3Example1">Correo electrónico</label>
                    <small 
                    *ngIf="signin_form.controls['xemail'].hasError('required') && signin_form.controls['xemail'].touched" 
                    class="form-error-msg"> El correo es requerido </small>
                  </div>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" [formControl]="signin_form.controls['xcontrasena']"/>
                <label class="form-label" for="form3Example4">Contraseña</label>
                <small 
                *ngIf="signin_form.controls['xcontrasena'].hasError('required') && signin_form.controls['xcontrasena'].touched" 
                class="form-error-msg"> La contraseña es requerida </small>
              </div>

              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked  [formControl]="signin_form.controls['rememberMe']"/>
                <label class="form-check-label" for="form2Example33">
                  Recordar
                </label>
              </div> -->

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Ingresar
              </button>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="../../assets/imagenes/sign-in.jpeg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

