<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.QUOTESBYFLEETAPPROVAL.QUOTEBYFLEET" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.QUOTESBYFLEETAPPROVAL.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editQuoteByFleet()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.QUOTESBYFLEETAPPROVAL.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.QUOTESBYFLEETAPPROVAL.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }" (change)="associateDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDCLIENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.ASSOCIATE" | translate }}</label>
                                    <select formControlName="casociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('casociado').errors }">
                                        <option></option>
                                        <option *ngFor="let associate of associateList" value="{{ associate.id }}">{{ associate.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('casociado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('casociado').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDASSOCIATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.MEMBERSHIPAMOUNT" | translate }}</label>
                                    <input type="number" formControlName="mmembresia" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mmembresia').errors }">
                                    <div *ngIf="submitted && detail_form.get('mmembresia').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mmembresia').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDMEMBERSHIPAMOUNT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.PARTIALLOSTAMOUNT" | translate }}</label>
                                    <input type="number" formControlName="mperdidaparcial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mperdidaparcial').errors }">
                                    <div *ngIf="submitted && detail_form.get('mperdidaparcial').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mperdidaparcial').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDPARTIALLOSTAMOUNT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.EVENTTAX" | translate }}</label>
                                    <select formControlName="cimpuestoevento" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cimpuestoevento').errors }">
                                        <option></option>
                                        <option *ngFor="let tax of taxList" value="{{ tax.id }}">{{ tax.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cimpuestoevento').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cimpuestoevento').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDEVENTTAX" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.PROFESSIONALFEES" | translate }}</label>
                                    <input type="number" formControlName="mhonorario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mhonorario').errors }">
                                    <div *ngIf="submitted && detail_form.get('mhonorario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mhonorario').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDPROFESSIONALFEES" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.PROFESSIONALTAX" | translate }}</label>
                                    <select formControlName="cimpuestoprofesional" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cimpuestoprofesional').errors }">
                                        <option></option>
                                        <option *ngFor="let tax of taxList" value="{{ tax.id }}">{{ tax.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cimpuestoprofesional').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cimpuestoprofesional').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDPROFESSIONALTAX" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.ROADMANAGEMENTAMOUNT" | translate }}</label>
                                    <input type="number" formControlName="mgestionvial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mgestionvial').errors }">
                                    <div *ngIf="submitted && detail_form.get('mgestionvial').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mgestionvial').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDROADMANAGEMENTAMOUNT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.MANAGEMENTTAX" | translate }}</label>
                                    <select formControlName="cimpuestogestion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cimpuestogestion').errors }">
                                        <option></option>
                                        <option *ngFor="let tax of taxList" value="{{ tax.id }}">{{ tax.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cimpuestogestion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cimpuestogestion').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDMANAGEMENTTAX" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.FISCALCREDITTOTALAMOUNT" | translate }}</label>
                                    <input type="number" formControlName="mtotalcreditofiscal" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mtotalcreditofiscal').errors }">
                                    <div *ngIf="submitted && detail_form.get('mtotalcreditofiscal').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mtotalcreditofiscal').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDFISCALCREDITTOTALAMOUNT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.TOTALCAPITAL" | translate }}</label>
                                    <input type="number" formControlName="mtotalcapital" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mtotalcapital').errors }">
                                    <div *ngIf="submitted && detail_form.get('mtotalcapital').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mtotalcapital').errors.required">{{ "QUOTATION.QUOTESBYFLEETAPPROVAL.REQUIREDTOTALCAPITAL" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


