<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="container">
                            <label style="margin-left: 558px; font-weight: bolder;">Registro de Pagos</label>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.NOTIFICATIONS.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Fecha de Factura</label>
                                    <input type="date" formControlName="ffactura" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ffactura').errors }">
                                    <div *ngIf="submitted && search_form.get('ffactura').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Fecha de Recepcion</label>
                                    <input type="date" formControlName="frecepcion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('frecepcion').errors }">
                                    <div *ngIf="submitted && search_form.get('frecepcion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Fecha de Vencimiento</label>
                                    <input type="date" formControlName="fvencimiento" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fvencimiento').errors }">
                                    <div *ngIf="submitted && search_form.get('fvencimiento').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="margin-left: -161px">
                        <div class="card-header company-card-header">
                            <div class="row">
                                <div class="col-6" style="margin-left: 268px; font-weight: bolder;">
                                    Lista de Ordenes de Servicios
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="search_form">
                                <div class="row">
                                    <div class="container">
                                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="serviceOrderList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                                            <ag-grid-column headerName="Codigo" field="cfactura" [width]="70" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Cliente" field="xcliente" [width]="173" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Proveedor" field="xnombre" [width]="173" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Monto de Factura" field="mmontofactura" [width]="120" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="N° de Control" field="ncontrol" [width]="120" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="N° de Factura" field="nfactura" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Factura" field="ffactura" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Recepción" field="frecepcion" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Vencimiento" field="fvencimiento" [width]="100" [sortable]="true"></ag-grid-column>
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="margin-right: -164px;">
                        <div class="card-header company-card-header">
                            <div class="row">
                                <div class="col-6" style="margin-left: 327px; font-weight: bolder;">
                                    Lista de Finiquitos
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="search_form">
                                <div class="row">
                                    <div class="container">
                                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="settlementList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                                            <ag-grid-column headerName="Codigo" field="cfactura" [width]="70" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Cliente" field="xcliente" [width]="173" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Proveedor" field="xnombre" [width]="173" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Monto de Factura" field="mmontofactura" [width]="120" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="N° de Control" field="ncontrol" [width]="120" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="N° de Factura" field="nfactura" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Factura" field="ffactura" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Recepción" field="frecepcion" [width]="100" [sortable]="true"></ag-grid-column>
                                            <ag-grid-column headerName="Fecha de Vencimiento" field="fvencimiento" [width]="100" [sortable]="true"></ag-grid-column>
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
