<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.FEESREGISTERS.FEESREGISTER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editFeesRegister()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.FEESREGISTERS.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">{{ "QUOTATION.FEESREGISTERS.REQUIREDCLIENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Lista de Tasas
                        </div>
                        <div class="col-6">
                            <input type="file" name="xdocumento" class="form-control"  accept=" .csv" (change)="onFileSelect($event)" *ngIf="canReadFile" #Ximagen>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 520px;" class="ag-theme-alpine" [rowData]="ratesList" [pagination]="true" [paginationPageSize]="10" [paginationAutoPageSize]="true" rowSelection="single" [enableCellChangeFlash]="true" (gridReady)="onContractsGridReady($event)">
                            <ag-grid-column headerName="Clase" field="xclase" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Intervalo" field="xintervalo" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tasa" field="xtasa" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2024 - 2020" field="f2024" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2019 - 2018" field="f2019" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2017 - 2015" field="f2017" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2014 - 2012" field="f2014" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2011 - 2007" field="f2011" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2006 - 2004" field="f2006" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="2003 o Anterior" field="f2003" [width]="173" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


