<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "EVENTS.SERVICEORDER.SEARCHSERVICEORDER" | translate }}
                        </div>
                        <div class="col-6">
                            <button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "EVENTS.SERVICEORDER.CREATE" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.SERVICEORDER.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.ORDER" | translate }}</label>
                                    <select formControlName="corden" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('corden').errors }">
                                        <option></option>
                                        <option *ngFor="let serviceType of serviceOrderList" value="{{ serviceType.id }}">{{ serviceType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('corden').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "EVENTS.SERVICEORDER.SERVICEORDERLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-alpine" [rowData]="serviceList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Orden" field="corden" [width]="150" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Nombre" field="xnombre" [width]="200" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Apellido" field="xapellido" [width]="200" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Cliente" field="xcliente" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Fecha" field="fcreacion" [width]="259" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
