<div class="modal-header">
    <h4 class="modal-tittle">{{ "CLIENTS.CLIENTS.CONTACT" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.NAME" | translate }}</label>
                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xnombre').errors }">
                    <div *ngIf="submitted && popup_form.get('xnombre').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xnombre').errors.required">{{ "CLIENTS.CLIENTS.REQUIREDNAME" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.LASTNAME" | translate }}</label>
                    <input type="text" formControlName="xapellido" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xapellido').errors }">
                    <div *ngIf="submitted && popup_form.get('xapellido').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xapellido').errors.required">{{ "CLIENTS.CLIENTS.REQUIREDLASTNAME" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                  <label class="form-label required" for="form3Examplev2">Tipo Documento de Identidad</label>
                  <select formControlName="icedula" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('icedula').errors } " >
                    <option value="V">V</option>
                    <option value="P">P</option>
                    <option value="E">E</option>
                    <option value="J">J</option>
                    <option value="C">C</option>
                    <option value="G">G</option>
                  </select>                      
                  <div *ngIf="submitted && popup_form.get('icedula').errors" class="invalid-feedback">
                    <div *ngIf="popup_form.get('icedula').errors.required">Se requiere completar el campo</div>
                  </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xdocidentidad').errors }">
                    <div *ngIf="submitted && popup_form.get('xdocidentidad').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xdocidentidad').errors.required">{{ "CLIENTS.CLIENTS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.CELLPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonocelular" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonocelular').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonocelular').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xtelefonocelular').errors.required">{{ "CLIENTS.CLIENTS.REQUIREDCELLPHONE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.EMAIL" | translate }}</label>
                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xemail').errors }">
                    <div *ngIf="submitted && popup_form.get('xemail').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xemail').errors.required">{{ "CLIENTS.CLIENTS.REQUIREDEMAIL" | translate }}</div>
                        <div *ngIf="popup_form.get('xemail').errors.pattern">{{ "CLIENTS.CLIENTS.EMAILPATTERNERROR" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.POSITION" | translate }}</label>
                    <input type="text" formControlName="xcargo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xcargo').errors }">
                    <div *ngIf="submitted && popup_form.get('xcargo').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.OFFICEPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonooficina" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonooficina').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonooficina').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "CLIENTS.CLIENTS.HOMEPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonocasa" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonocasa').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonocasa').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "CLIENTS.CLIENTS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deleteContact()" *ngIf="isEdit">
                    {{ "CLIENTS.CLIENTS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
