<title>Quienes Somos</title>
<link href="./../../../assets/imagenes/arys/logo.png" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="inicio" class="image d-flex align-items-center">
        <img class="logocompany" />
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="inicio" >Inicio</a></li>
          <li><a href="qsomos" class="active">Quienes Somos</a></li>
<!--          <li><a href="planes" >Planes</a></li>--> 
          <li><a href="contact" >Contáctanos</a></li>
          <li><a href="sign-in">Ingresar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main" style="background-color: white">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('./assets/imagenes/arys/planex.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>Quienes Somos</h2>
        <ol>
          <li><a href="inicio">Inicio</a></li>
          <li>Quienes Somos</li>
        </ol>
      </div>
    </div>
    <div class="sample-page">
      <div class="container">
		  <div class="row align-items-start">
			<div class="col">
            <h4 style="text-align: center">Conduce tu vehículo, del resto nos encargamos nosotros</h4>
            Somos una empresa especializada en el diseño e implementación de programas para la administración de fondos de autoseguros de vehículos, a través de la asesoría en la coordinación, apoyo, soporte y supervisión del proceso de la protección en el área automotriz y asistencia vial. Ofrecemos Servicios logísticos para los miembros y cada uno de sus vehículos, brindando comodidad con convicción en cada uno de nuestros puntos de contacto, a través de nuestros socios comerciales afiliados a la red. Además, nos especializamos en el estudio y análisis estadísticos del área de riesgo automotriz, con la finalidad de mejorar la rentabilidad en el manejo y resguardo de las flotas de vehículos.
			</div>
			<div class="col">
				<div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://arysauto.com.co/arysauto/f_inicio/img/arys.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer" style="background-image:url(./../../../../assets/imagenes/arys/planes.jpg); background-position: center;">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>ARYSAUTO CLUB</h3>
              <p>
                Colombia. Bogotá D.C. <br>

                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=573174290143&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos">+573174290143 </a><br>
                <strong>Teléfono:</strong><a href="tel:3188339485"> +57 3188339485</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="qsomos">Quienes Somos</a></li>
    <!---->             </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Arys Autos, C.A.</h3>
              <p>
                Venezuela <br>

                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=584144128237&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos"> +584144128237 </a><br>
                <strong>Teléfono:</strong><a href="tel:05002797288"> 0500.2797288</a>
                <br>
                <strong>Teléfono:</strong><a href="tel:02418200184"> +58 241-8200184</a>
                <br>
                <strong>Teléfono:</strong><a href="tel:02414160810"> +58 241-4160810</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=siniestros@arysautos.com">siniestros@arysautos.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <!-- <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Arys Autos</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits">
          Diseñado por Compuamerica
        </div>
      </div>
    </div>
  </footer>