<div class="modal-header">
    <h4 class="modal-tittle">Añadir Factura</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "EVENTS.NOTIFICATIONS.DOCUMENTROUTE" | translate }}</label>
                    <div class="mt-1"></div>
                    <a href="{{ xrutaarchivo }}" target="_blank">{{ xrutaarchivo }}</a>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "EVENTS.NOTIFICATIONS.UPLOADDOCUMENT" | translate }}</label>
                    <input type="file" name="xarchivo" class="form-control" (change)="onFileSelect($event)" #Xarchivo>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" (click)="onSubmit(popup_form.value)" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "EVENTS.NOTIFICATIONS.SAVE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>

