footer{
    background-color: #132646;
    border-top-style: solid;
    border-color: white;
}

h3,h6{
    color: white;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-input {
  max-width: 100%;
  width: 300px;
}

/* .ng-autocomplete {
  width:85%;
  max-width: 300px;
  display: table;
   margin: 0 auto;
} */
