<div class="modal-header">
    <h4 class="modal-tittle">{{ "THIRDPARTIES.OWNERS.IMAGE" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.OWNERS.IMAGE" | translate }}</label>
                    <select formControlName="cimagen" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cimagen').errors }">
                        <option></option>
                        <option *ngFor="let image of imageList" value="{{ image.id }}">{{ image.value }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('cimagen').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('cimagen').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDIMAGE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.OWNERS.IMAGEROUTE" | translate }}</label>
                    <div class="mt-1"></div>
                    <a href="{{ xrutaimagen }}" target="_blank">{{ xrutaimagen }}</a>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.OWNERS.UPLOADIMAGE" | translate }}</label>
                    <input type="file" name="ximagen" class="form-control" (change)="onFileSelect($event)" #Ximagen>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "THIRDPARTIES.OWNERS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deleteImage()" *ngIf="isEdit">
                    {{ "THIRDPARTIES.OWNERS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
