<!-- <link href="./../../../../assets/imagenes/arys/logo.png" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
 -->

 <header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="inicio" class="image d-flex align-items-center">
      <img class="logocompany"/>
    </a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="inicio" class="active">Inicio</a></li>
        <li><a href="qsomos">Quienes Somos</a></li>
          <!--  <li><a href="planes">Planes</a></li>   -->
        <li><a href="contact">Contáctanos</a></li>
        <li><a href="sign-in">Ingresar</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="hero" class="hero">
  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Bienvenidos a <span>Arys Autos</span></h2>
          <p data-aos="fade-up">Brindamos asistencia víal, mecánica, logística y legal, a toda hora.</p>
          <!-- <a data-aos="fade-up" data-aos-delay="200" href="planes" class="btn-get-started">Conoce Nuestros Planes</a> -->
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-item active" style="background-image: url(./assets/imagenes/arys/her.jpg)"></div>
    <div class="carousel-item" style="background-image: url(./assets/imagenes/arys/her2.jpg)"></div>
    <div class="carousel-item" style="background-image: url(./assets/imagenes/arys/her1.jpg)"></div>
    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</section>
<footer id="footer" class="footer" style="background-image:url(./../../../../assets/imagenes/arys/planes.jpg); background-position: center;">
  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>ARYSAUTO CLUB</h3>
            <p>
              Colombia. Bogotá D.C. <br>

              <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=573174290143&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos">+573174290143 </a><br>
              <strong>Teléfono:</strong><a href="tel:3188339485"> +57 3188339485</a>
              <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a><br>
            </p>
            <div class="social-links d-flex mt-3">
              <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <ul>
            <li><a href="inicio">Inicio</a></li>
            <li><a href="qsomos">Quienes Somos</a></li>
  <!---->             </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Arys Autos</span></strong>. Todos los Derechos Reservados
      </div>
      <div class="credits">
        Diseñado por Compuamerica
      </div>
    </div>
  </div>
</footer>
<!-- <script src="./styles_Club/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./styles_Club/vendor/aos/aos.js"></script>
<script src="./styles_Club/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./styles_Club/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="./styles_Club/vendor/swiper/swiper-bundle.min.js"></script>
<script src="./styles_Club/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="./styles_Club/js/main.js"></script>
-->