<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-12">
                            {{ "CHANGEPASSWORD.CHANGEPASSWORD" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="change_password_form" (ngSubmit)="onSubmit(change_password_form.value)">
                        <div class="row">
                            <div formGroupName="matching_xcontrasena" style="width:100%" [ngClass]="{ 'is-invalid': submitted && change_password_form.get('matching_xcontrasena').errors }">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>{{ "CHANGEPASSWORD.PASSWORD" | translate }}</label>
                                        <input type="password" formControlName="xcontrasena" class="form-control" [ngClass]="{ 'is-invalid' : submitted && change_password_form.get('matching_xcontrasena').get('xcontrasena').errors }">
                                        <div *ngIf="submitted && change_password_form.get('matching_xcontrasena').get('xcontrasena').errors"  class="invalid-feedback">
                                          <div *ngIf="change_password_form.get('matching_xcontrasena').get('xcontrasena').errors.required">{{ "CHANGEPASSWORD.REQUIREDPASSWORD" | translate }}</div>
                                          <div *ngIf="change_password_form.get('matching_xcontrasena').get('xcontrasena').errors.minlength">{{ "CHANGEPASSWORD.PASSWORDLENGTHERROR" | translate }}</div>
                                          <div *ngIf="change_password_form.get('matching_xcontrasena').get('xcontrasena').errors.pattern">{{ "CHANGEPASSWORD.PASSWORDPATTERNERROR" | translate }}</div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                      <label>{{ "CHANGEPASSWORD.VERIFYPASSWORD" | translate }}</label>
                                      <input type="password" formControlName="verify_xcontrasena" class="form-control" [ngClass]="{ 'is-invalid' : submitted && change_password_form.get('matching_xcontrasena').get('verify_xcontrasena').errors }">
                                      <div *ngIf="submitted && change_password_form.get('matching_xcontrasena').get('verify_xcontrasena').errors"  class="invalid-feedback">
                                        <div *ngIf="change_password_form.get('matching_xcontrasena').get('verify_xcontrasena').errors.required">{{ "CHANGEPASSWORD.REQUIREDVERIFYPASSWORD" | translate }}</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="submitted && change_password_form.get('matching_xcontrasena').errors"  class="invalid-feedback container mb-4">
                                <div *ngIf="change_password_form.get('matching_xcontrasena').errors.areEqual">{{ "CHANGEPASSWORD.PASSWORDMATCHERROR" | translate }}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button [disabled]="loading || disable_button" class="btn company-detail-button btn-lg btn-block" type="submit">
                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                              {{ "CHANGEPASSWORD.CHANGEPASSWORD" | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

