<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.ROADMANAGEMENTCONFIGURATION" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editRoadManagementConfiguration()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }" (change)="associateDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.REQUIREDCLIENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.ASSOCIATE" | translate }}</label>
                                    <select formControlName="casociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('casociado').errors }">
                                        <option></option>
                                        <option *ngFor="let associate of associateList" value="{{ associate.id }}">{{ associate.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('casociado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('casociado').errors.required">{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.REQUIREDASSOCIATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.VEHICLETYPESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addVehicleType()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.ROADMANAGEMENTCONFIGURATIONS.ADDVEHICLETYPE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="vehicleTypeList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="vehicleTypeRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onVehicleTypesGridReady($event)">
                            <ag-grid-column headerName="Name" field="xtipovehiculo" [width]="518" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Amount" field="mtipovehiculoconfiguraciongestionvial" [width]="518" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


