.card {
    width: 100%;
    max-width: 1415px;
    margin: 0 auto;
  }
  
  .card-body {
    padding: 0 10px;
  }
.card-body h2 {
    font-size: 24px;
  }
  
  .card-body p {
    font-size: 16px;
  }