<app-toolbar ></app-toolbar>
  <div data-aos="fade-in-down" data-aos-delay="200" *ngIf="alert.show" class="alert-container">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" [ngClass]="{'alert-success': alert.type === 'success', 'alert-danger': alert.type === 'danger'}">{{ alert.message | translate }}</ngb-alert>
  </div>
  <div css="row mt-5 mb-5" style="margin-top: 30px;">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header company-card-header">
              <form [formGroup]="search_form">
                      <div class="row">
                          <div class="col-6">
                              <p>Contratos</p>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="card-body">
                <div>
                  <div style="display: grid;place-items: center;margin-top: 19px;">
                    <div class="col-sm-12 col-md-4">
                        <input type="text" class="form-control" placeholder="Buscar..." (input)="filterData($event.target.value)">
                    </div>
                  </div>
                  <br>
                  <table class="table table-hover">
                    <thead class="table-borderless">
                      <tr>
                        <th class="border-bottom">Código</th>
                        <th class="border-bottom">Nombre y Apellido</th>
                        <th class="border-bottom">Identificación</th>
                        <th class="border-bottom">Vehículo</th>
                        <th class="border-bottom">Placa</th>
                        <th class="border-bottom">Año</th>
                        <th class="border-bottom">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filteredData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
                        <td>{{ item.ccontratoflota }}</td>
                        <td style="white-space: nowrap">{{ item.xnombres }}</td>
                        <td>{{ item.identificacion }}</td>
                        <td style="white-space: nowrap">{{ item.xvehiculo }}</td>
                        <td style="white-space: nowrap">{{ item.xplaca }}</td>
                        <td style="white-space: nowrap">{{ item.fano }}</td>
                        <td style="white-space: nowrap">{{ item.xestadocontrato }}</td>
                        <td style="white-space: nowrap"><button class="btn btn-success" (click)="getContractArysFromCertificate(item.ccontratoflota)" data-name="{{item.xnombres}}">Descargar Certificado</button></td>
                        <td><button  *ngIf="item.puedeAnular" class="btn btn-danger" (click)="getCancellationPolicy(item.ccontratoflota)" data-name="{{item.xnombres}}">Anular</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="display: grid;place-items: center;">
                  <ngb-pagination [collectionSize]="filteredData.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div style="margin-top: 33px"></div>

  <app-footer></app-footer>