<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.PROVIDER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editProvider()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombre').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombre').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombre').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.BUSINESSNAME" | translate }}</label>
                                    <input type="text" formControlName="xrazonsocial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xrazonsocial').errors }">
                                    <div *ngIf="submitted && detail_form.get('xrazonsocial').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xrazonsocial').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDBUSINESSNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.PHONENUMBER" | translate }}</label>
                                    <input type="tel" formControlName="xtelefono" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefono').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefono').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefono').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDPHONENUMBER" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.EMAIL" | translate }}</label>
                                    <input type="email" formControlName="xcorreo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xcorreo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xcorreo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xcorreo').errors.pattern">{{ "PROVIDERS.PROVIDERS.EMAILPATTERNERROR" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.FAX" | translate }}</label>
                                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfax').errors }">
                                    <div *ngIf="submitted && detail_form.get('xfax').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.WEBPAGE" | translate }}</label>
                                    <input type="text" formControlName="xpaginaweb" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xpaginaweb').errors }">
                                    <div *ngIf="submitted && detail_form.get('xpaginaweb').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Impuesto sobre la renta</label>
                                    <input type="number" formControlName="pislr" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('pislr').errors }">
                                    <div *ngIf="submitted && detail_form.get('pislr').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.RETENTIONPERCENTAGE" | translate }}</label>
                                    <input type="number" formControlName="pretencion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('pretencion').errors }">
                                    <div *ngIf="submitted && detail_form.get('pretencion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.TAXENTITYCODE" | translate }}</label>
                                    <input type="text" formControlName="centeimpuesto" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('centeimpuesto').errors }">
                                    <div *ngIf="submitted && detail_form.get('centeimpuesto').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('centeimpuesto').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDTAXENTITYCODE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.CREDITDAYSLIMIT" | translate }}</label>
                                    <input type="number" formControlName="nlimite" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('nlimite').errors }">
                                    <div *ngIf="submitted && detail_form.get('nlimite').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('nlimite').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDCREDITDAYSLIMIT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.STATE" | translate }}</label>
                                    <select formControlName="cestado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestado').errors }" (change)="cityDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let state of stateList" value="{{ state.id }}">{{ state.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestado').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDSTATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.CITY" | translate }}</label>
                                    <select formControlName="cciudad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cciudad').errors }">
                                        <option></option>
                                        <option *ngFor="let city of cityList" value="{{ city.id }}">{{ city.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cciudad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cciudad').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDCITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.ADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccion').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.MAILADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccioncorreo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccioncorreo').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccioncorreo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccioncorreo').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDMAILADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PROVIDERS.PROVIDERS.OBSERVATION" | translate }}</label>
                                    <textarea type="text" formControlName="xobservacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xobservacion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xobservacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xobservacion').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDOBSERVATION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bafiliado" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bafiliado').errors }">
                                    <label>{{ "PROVIDERS.PROVIDERS.AFILIATE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bafiliado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bafiliado').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDAFILIATE" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "PROVIDERS.PROVIDERS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.BANKSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addBank()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDBANK" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="bankList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="bankRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onBanksGridReady($event)">
                            <ag-grid-column headerName="Banco" field="xbanco" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Cuenta Bancaria" field="xtipocuentabancaria" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Numero de Cuenta" field="xnumerocuenta" [width]="259" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Principal" field="xprincipal" [width]="259" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.STATESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addState()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDSTATE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="stateProviderList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="stateRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onStatesGridReady($event)">
                            <ag-grid-column headerName="Name" field="xestado" [width]="1036" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.BRANDSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right" type="button" (click)="addAllBrands()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDALLBRANDS" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addBrand()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDBRAND" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="brandList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="brandRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onBrandsGridReady($event)">
                            <ag-grid-column headerName="Name" field="xmarca" [width]="1036" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.SERVICESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addService()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDSERVICE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="serviceList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="serviceRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onServicesGridReady($event)">
                            <ag-grid-column headerName="Servicio" field="xservicio" [width]="518" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo" field="xtiposervicio" [width]="518" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PROVIDERS.PROVIDERS.CONTACTSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addContact()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PROVIDERS.PROVIDERS.ADDCONTACT" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="contactList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="contactRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onContactsGridReady($event)">
                            <ag-grid-column headerName="Name" field="xnombre" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Lastname" field="xapellido" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Cellphone" field="xtelefonocelular" [width]="259" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Email" field="xemail" [width]="259" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div> 


<app-footer></app-footer>

