<div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row" *ngIf="DataClient.length !== 0">
        <div class="col-lg-4">
          <div style="margin-top: 25px;">
            <div class="card-body text-center">
              <img src="./../../../assets/imagenes/logo.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Bienvenidos a PanautoClub</h5>
              <p class="text-muted mb-1"></p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" routerLink="/notifications">Solicitar Servicio</button>
                <button type="button" class="btn btn-outline-primary ms-1">Llamar Call Center</button>
              </div>
            </div>
          </div>
          <div class="mb-4 mb-lg-0">
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" (click)="open(content)">Adjuntar documentos</button>
            </div>
          </div>
          <div class="mb-4 mb-lg-0">
            <div class="container">
              <div class="row">
                  <div>
                      <div class="pricingTable">
                          <div class="pricing_heading">
                              <h3 class="title">{{xtitulo}}</h3>
                              <span class="value">
                                 
                                {{monto}} $
                              </span>
                          </div>
                          <div class="content" *ngFor="let Data of ListTypeService">
                              <ul>
                                  <li>{{ Data.xtiposervicio }}</li>
                              </ul>
                              <!-- <div class="link">
                                  <a href="#">sign up</a>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div class="col-lg-8" *ngFor="let Data of DataClient">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ Data.xnombre }} {{ Data.xapellido }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ Data.xemail }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{Data.telefono}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Cédula</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{Data.icedula}}-{{Data.xdocidentidad}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="DataVehicle.length !== 0">
            <div class="card mb-4" *ngFor="let Data of DataVehicle">
              <div >
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Marca</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ Data.xmarca }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Modelo</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ Data.xmodelo }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Placa</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{Data.xplaca}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Año</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{Data.fano}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carga de Documentos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="DataUserDocuments" (ngSubmit)="onSubmit(DataUserDocuments.value)">
      <div class="form-group">
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev2">Tipo de Documentos</label>
          <select formControlName="itipodocumento" class="form-control form-control-lg" >
            <option value="DNI">DNI</option>
            <option value="P">P</option>
            <option value="RUC">RUC</option>
            <option value="RCV">RCV</option>
            <option value="OTROS">OTROS</option>
          </select>                      
        </div>
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev2">Fecha de vencimiento</label>
          <input type="date" formControlName="fvencimiento" class="form-control form-control-lg" >
        </div>
        <div class="form-outline">
          <label class="form-label required" for="form3Examplev2">Adjuntar documento</label>
          <input type="file" name="xarchivo" class="form-control" (change)="onFileSelect($event)" #Xarchivo>
        </div>
      </div>
      {{message}}
      <button *ngIf="submitted" type="submit" class="btn success-toast align-rigth">Guardar</button>
    </form>
  </div>
</ng-template>



