<title>Servicios</title>
<link href="./../../../assets/imagenes/arys/logo.png" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="inicio" class="image d-flex align-items-center">
        <img class="logocompany">
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="inicio" >Inicio</a></li>
          <li><a href="qsomos">Quienes Somos</a></li>
          <li><a href="service" class="active">Servicios</a></li>
          <!--          <li><a href="planes">Planes</a></li>--> 
          <li><a href="contact">Contáctanos</a></li>
          <li><a href="sign-in">Ingresar</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main" style="background-color: white">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('./assets/imagenes/arys/planex.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="fade-in-up" data-mdb-animation-start="onLoad">
        <h2>Servicios</h2>
        <ol>
          <li><a href="inicio">Inicio</a></li>
          <li>Servicios</li>
        </ol>
      </div>
    </div>
    <section id="Servicios" class="Servicios section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Administración de siniestros</h3>
              <p>Disminución de costos operativos,técnicos y administrativos.<br>
                Asistencia y asesoría en la atención y manejo del siniestro.<br>
                Apoyo en la plataforma de seguimientos y agendamientos.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Diseño de fondos para la atención de siniestros.</h3>
              <p>El programa es diseñado de acuerdo a las necesidades, actividades y operaciones de la empresa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Asesoría y administración de siniestros</h3>
              <p>Formulación del modelo diseñado y detalle de las condiciones generales para la atención de los siniestros, así como recomendaciones para optimizar los recursos de acuerdo a la proyección realizada. Igualmente, gestión de atención del siniestro, seguimiento desde el momento del reporte hasta la reparación y puesta en operación del vehículo.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Generación y diseños de reportes</h3>
              <p>Material de apoyo estadístico que facilita la toma de decisiones relevantes para el manejo de su flota.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Acceso a la plataforma</h3>
              <p>En donde realizarás el registro de las incidencias y atención de siniestros sin importar la cuantía.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Proveedores</h3>
              <p>El cliente puede optar por utlizar los proveedores certificados de Arysauto.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="Servicios-cards" class="Servicios-cards">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Apoyo estadístico</h3>
            <p>Revisión y análisis de siniestralidad para determinar causas frecuentes y tipos de daños entre otros datos, orientados a la toma de decisiones y definición de acciones a tomar.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Hoja de vida del vehículo - Expediente electrónico</h3>
            <p>Acceso a la hoja de vida del vehículo con disponibilidad en línea de información y trazabilidad de lo que se le realice al vehículo a través de los Servicios de ArysAuto.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Vidrios rotos</h3>
            <p>Rotura accidental o maliciosa de vidrios, de parabrisas o panorámico.
              Cobertura a través de nuestra red de proveedores para ubicación, reparación o instalación de panorámico.
              Consumiendo los Servicios incluidos en el plan, se podrá gestionar la logística con nuestros proveedores, sin embargo, el costo será cancelado por el propietario o usuario del vehículo.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Servicio de grua</h3>
            <p>Asistencia vial: remolque o transporte del vehículo. En caso de que el vehículo beneficiario no pueda circular por falla mecánica o accidente, el servicio se hará hasta el taller o lugar que éste haya elegido.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="Servicios-cards2" class="Servicios-cards">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Centro de Servicios ArysAuto</h3>
            <p>Acceso al servicio de asistencia a través de nuestro call center con disponibilidad 24/7 a nivel nacional.
              Las instalaciones y reparaciones deben realizarse con los proveedores vinculados a la red de ArysAuto.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Talleres de reparación mecánica, latonería y pintura</h3>
            <p>Acceso a la red de talleres afiliados a ArysAuto con acuerdos especiales en precios, garantía y calidad, para reparaciones por contingencias o por mantenimiento.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Asesoría y asistencia legal telefónica</h3>
            <p>Disponibilidad 24/7, profesionales especialistas en materia de tránsito.
              Si presentas algún inconveniente con autoridades de tránsito y tu o tu vehículo están en riesgo de una detención y requieres asesoría legal, podrás contactarnos al call center donde te brindaremos la asesoría y atención necesaria sobre los pasos a seguir y la posible solución de la situación.
              En caso de requerirse, ArysAuto realizará todas las gestiones correspondientes para el traslado del asesor jurídico, sin embargo, todos los honorarios y gastos que se generen de este servicio o proceso jurídico, correrá por cuenta del afiliado.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Ubicación de repuestos</h3>
            <p>Gestión de localización, compra y despacho de repuestos y partes para el vehículo registrado en ArysAuto.
              Si requieres un repuesto por uso y desgaste del mismo, podrás comunicarte con nuestro call center para activar la búsqueda en nuestra red de proveedores a nivel nacional , esta será inicialmente por 48 horas, en caso de no ubicar la pieza en este periodo te notificaremos el resultado de la búsqueda y de ser requerido se extenderá el proceso por 48 horas más.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="Servicios-cards3" class="Servicios-cards">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Carro y moto taller</h3>
            <p>Mecánica ligera, paso de corriente local, cambio de llanta, suministro de gasolina, grúa para vehículos y motos.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Acompañamiento</h3>
            <p>En caso de siniestros, recibirás la asistencia y asesoría en la atención y manejo de este, incluyendo el análisis técnico a fin de conocer el alcance de los daños, tiempo estimado de reparación, piezas a sustituir o reparar, asignación de un taller de su conveniencia, coordinación de citas o ingreso al taller.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Atención de siniestros</h3>
            <p>En caso de que el vehículo presente un siniestro comunícate a la brevedad con nuestro call center con el fin de activar de manera inmediata el procedimiento de reparación con el proveedor aliado de la zona en el menor costo y tiempo posible.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Planilla preoperacional para vehículos</h3>
            <p>Registro de información digital en la página web, incluyendo fotos, notas y acciones correctivas y preventivas.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="Servicios-cards4" class="Servicios-cards">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Tele-orientación médica telefónica y Virtual</h3>
            <p>Servicio virtual a través de video llamada segura
              Realización de Triage
              Orientación al asegurado en caso de consulta y/o urgencias no vitales.
              Resolución de inquietudes de una manera oportuna en temas de prevención de la enfermedad, posología de medicamentos e indicaciones para su administración.
              Información sobre Tips de salud (promoción y prevención).
              Manejo en casa de sintomatología asociada a dolores musculares, problemas digestivos, dolores de cabeza, entre otros.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Tele-orientación psicológica y Virtual</h3>
            <p>Ayuda sobre permanencia en el hogar por cuarentena
              Dinámica familiar asociada a convivencia , invalidez temporal o total
              Maternidad: depresión post parto, muerte del neonato, aborto espontáneo, Enfermedades congénitas del recién nacido.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Tele orientación odontológica</h3>
            <p>Recomendaciones en temas de salud oral.
              Definición y orientación de especialidades odontológicas.
              Orientación de tratamientos odontológicos.
              Recomendaciones de manejo en casa asociados a erupción de cordales
              Conoce Tips para dar manejo a erupción dental en niños.
              Recibe apoyo para temas asociados a sensibilidad dental.</p>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Descuentos en tratamientos odontológicos especializados, para una gran sonrisa</h3>
            <p>Deja en las mejores manos tus tratamientos odontológicos especializados, para una gran sonrisa.
              Obtén las mejores tarifas para cada uno de tus tratamientos odontológicos.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer" class="footer" style="background-image:url(./../../../../assets/imagenes/arys/planes.jpg); background-position: center;">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>ARYSAUTO CLUB</h3>
              <p>
                Colombia. Bogotá D.C. <br>

                <br><strong>Teléfono:</strong> <a href="https://api.whatsapp.com/send?phone=573174290143&text=Gracias%20por%20comunicarte%20con%20Arys%20Auto,%20en%20breves%20momentos%20te%20atenderemos">+573174290143 </a><br>
                <strong>Teléfono:</strong><a href="tel:3188339485"> +57 3188339485</a>
                <br><strong>Correo:</strong> <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=contactoarysauto@gmail.com">contactoarysauto@gmail.com</a><br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://www.instagram.com/lamundialseguros/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="inicio">Inicio</a></li>
              <li><a href="qsomos">Quienes Somos</a></li>
    <!---->             </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Arys Autos</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits">
          Diseñado por Compuamerica
        </div>
      </div>
    </div>
  </footer>
  <script src="./styles_Club/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> <!---->
  <script src="./styles_Club/vendor/aos/aos.js"></script> <!---->
  <script src="./styles_Club/vendor/glightbox/js/glightbox.min.js"></script> <!---->
  <script src="./styles_Club/vendor/isotope-layout/isotope.pkgd.min.js"></script> <!---->
  <script src="./styles_Club/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./styles_Club/vendor/purecounter/purecounter_vanilla.js"></script> <!---->
  <script src="./styles_Club/js/main.js"></script><!---->