<div class="modal-header">
    <h4 class="modal-tittle">{{ "PRODUCTS.PLANS.PAYMENTMETHODOLOGY" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PRODUCTS.PLANS.PAYMENTMETHODOLOGY" | translate }}</label>
                    <select formControlName="cmetodologiapago" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cmetodologiapago').errors }">
                        <option></option>
                        <option *ngFor="let paymentMethodology of paymentMethodologyList" value="{{ paymentMethodology.id }}">{{ paymentMethodology.value }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('cmetodologiapago').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('cmetodologiapago').errors.required">{{ "PRODUCTS.PLANS.REQUIREDPAYMENTMETHODOLOGY" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PRODUCTS.PLANS.AMOUNT" | translate }}</label>
                    <input type="number" formControlName="mmetodologiapago" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('mmetodologiapago').errors }">
                    <div *ngIf="submitted && popup_form.get('mmetodologiapago').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('mmetodologiapago').errors.required">{{ "PRODUCTS.PLANS.REQUIREDAMOUNT" | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "PRODUCTS.PLANS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deletePaymentMethodology()" *ngIf="isEdit">
                    {{ "PRODUCTS.PLANS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
