<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.ENTERPRISES.SEARCHENTERPRISE" | translate }}
                        </div>
                        <div class="col-6">
                            <button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "THIRDPARTIES.ENTERPRISES.CREATE" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.ENTERPRISES.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ENTERPRISES.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ENTERPRISES.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && search_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ENTERPRISES.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xnombre').errors }">
                                    <div *ngIf="submitted && search_form.get('xnombre').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ENTERPRISES.BUSINESSNAME" | translate }}</label>
                                    <input type="text" formControlName="xrazonsocial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xrazonsocial').errors }">
                                    <div *ngIf="submitted && search_form.get('xrazonsocial').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.ENTERPRISES.ENTERPRISESLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="enterpriseList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Code" field="cempresa" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Name" field="xnombre" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Business Name" field="xrazonsocial" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Active" field="xactivo" [width]="259" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>