<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "BUSINESS.TRACINGS.SEARCHTRACINGS" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="btodos" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && search_form.get('btodos').errors }">
                                    <label>{{ "BUSINESS.TRACINGS.ALLUSERS" | translate }}</label>
                                    <div *ngIf="submitted && search_form.get('btodos').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "BUSINESS.TRACINGS.FLEETNOTIFICATIONTRACINGSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "BUSINESS.TRACINGS.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="fleetNotificationTracingList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="fleetNotificationTracingRowClicked($event)">
                            <ag-grid-column headerName="Notificacion" field="cnotificacion" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo de Seguimiento" field="xtiposeguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Motivo" field="xmotivoseguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Día" field="fdia" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Hora" field="fhora" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Cerrado" field="xcerrado" [width]="173" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "BUSINESS.TRACINGS.FLEETNOTIFICATIONTRACINGSTHIRDPARTIESLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="fleetNotificationThirdpartyTracingList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="fleetNotificationThirdpartyTracingRowClicked($event)">
                            <ag-grid-column headerName="Notificacion" field="cnotificacion" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Nombre" field="xnombre" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Apellido" field="xapellido" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo de Seguimiento" field="xtiposeguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Motivo" field="xmotivoseguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Día" field="fdia" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Hora" field="fhora" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Cerrado" field="xcerrado" [width]="173" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "BUSINESS.TRACINGS.CLUBSERVICEREQUESTTRACINGSLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="clubServiceRequestTracingList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="clubServiceRequestTracingRowClicked($event)">
                            <ag-grid-column headerName="Solicitud de Servicio" field="csolicitudservicio" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo" field="xtiposeguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Motivo" field="xmotivoseguimiento" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Día" field="fdia" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Hora" field="fhora" [width]="173" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Cerrado" field="xcerrado" [width]="173" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

