<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.ASSOCIATES.ASSOCIATE" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.ASSOCIATES.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editAssociate()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.ASSOCIATES.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.ASSOCIATES.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.ASSOCIATETYPE" | translate }}</label>
                                    <select formControlName="ctipoasociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipoasociado').errors }">
                                        <option></option>
                                        <option *ngFor="let associateType of associateTypeList" value="{{ associateType.id }}">{{ associateType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipoasociado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipoasociado').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDASSOCIATETYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.NAME" | translate }}</label>
                                    <input type="text" formControlName="xasociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xasociado').errors }">
                                    <div *ngIf="submitted && detail_form.get('xasociado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xasociado').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.BUSINESSNAME" | translate }}</label>
                                    <input type="text" formControlName="xrazonsocial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xrazonsocial').errors }">
                                    <div *ngIf="submitted && detail_form.get('xrazonsocial').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xrazonsocial').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDBUSINESSNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.PHONENUMBER" | translate }}</label>
                                    <input type="tel" formControlName="xtelefono" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefono').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefono').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefono').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDPHONENUMBER" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.FAX" | translate }}</label>
                                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfax').errors }">
                                    <div *ngIf="submitted && detail_form.get('xfax').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.ADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccion').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.OBSERVATION" | translate }}</label>
                                    <textarea type="text" formControlName="xobservacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xobservacion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xobservacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xobservacion').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDOBSERVATION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.UNSUBSCRIBEDATE" | translate }}</label>
                                    <input type="date" formControlName="fbaja" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fbaja').errors }">
                                    <div *ngIf="submitted && detail_form.get('fbaja').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fbaja').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDUNSUBSCRIBE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="baseguradora" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('baseguradora').errors }">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.INSURANCECARRIER" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('baseguradora').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('baseguradora').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDINSURANCECARRIER" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "THIRDPARTIES.ASSOCIATES.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "THIRDPARTIES.ASSOCIATES.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>

