<div class="modal-header">
    <h4 class="modal-tittle">{{ "SECURITY.PERMISSIONS.PERMISSION" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ "SECURITY.PERMISSIONS.GROUP" | translate }}</label>
                    <select formControlName="cgrupo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cgrupo').errors }" (change)="moduleDropdownDataRequest()">
                        <option></option>
                        <option *ngFor="let group of groupList" value="{{ group.id }}">{{ group.value || translate }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('cgrupo').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('cgrupo').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDGROUP" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ "SECURITY.PERMISSIONS.MODULE" | translate }}</label>
                    <select formControlName="cmodulo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cmodulo').errors }">
                        <option></option>
                        <option *ngFor="let module of moduleList" value="{{ module.id }}">{{ module.value || translate }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('cmodulo').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('cmodulo').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDMODULE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="bindice" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('bindice').errors }">
                    <label>{{ "SECURITY.PERMISSIONS.INDEX" | translate }}</label>
                    <div *ngIf="submitted && popup_form.get('bindice').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('bindice').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDINDEX" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="bcrear" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('bcrear').errors }">
                    <label>{{ "SECURITY.PERMISSIONS.CREATE" | translate }}</label>
                    <div *ngIf="submitted && popup_form.get('bcrear').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('bcrear').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDCREATE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="bdetalle" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('bdetalle').errors }">
                    <label>{{ "SECURITY.PERMISSIONS.DETAIL" | translate }}</label>
                    <div *ngIf="submitted && popup_form.get('bdetalle').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('bdetalle').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDDETAIL" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="beditar" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('beditar').errors }">
                    <label>{{ "SECURITY.PERMISSIONS.EDIT" | translate }}</label>
                    <div *ngIf="submitted && popup_form.get('beditar').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('beditar').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDEDIT" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="beliminar" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('beliminar').errors }">
                    <label>{{ "SECURITY.PERMISSIONS.DELETE" | translate }}</label>
                    <div *ngIf="submitted && popup_form.get('beliminar').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('beliminar').errors.required">{{ "SECURITY.PERMISSIONS.REQUIREDDELETE" | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "SECURITY.PERMISSIONS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deletePermission()" *ngIf="isEdit">
                    {{ "SECURITY.PERMISSIONS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
