<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Ninguno Actualmente</p>
                        <h4 class="card-title">Incidentes en Curso</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Conduzca con Cuidado</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Ingreso de Actividades</p>
                        <h4 class="card-title">Técnico de Mécanica</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Actualiza 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Gastos de Actividades</p>
                        <h4 class="card-title">No hay información</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Añadir Actividad
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Gestiones Administrativas</p>
                        <h4 class="card-title">Activar Cobertura de vidrios:</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">image</i>Adjuntar Imagenes                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="container">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title">Monitor de Eventos Mensual</h4>
                            <div>
                                <div class='demo-app'>
                                    <div class='demo-app-main'>
                                      <full-calendar *ngIf='calendarVisible' [options]='calendarOptions' >
                                        <ng-template #eventContent let-arg>
                                          <b>{{ arg.timeText }}</b>
                                          <i>{{ arg.event.title }}</i>
                                        </ng-template>
                                      </full-calendar>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>
        </div>
  
    </div>
  </div>
  

  <ng-template #content let-modal>
    <div class="modal-body">
        <div class="cake">

            <div class="cake-bottom"></div>

            <div class="cake-middle"></div>

            <div class="cake-top"></div>

              <div class="candle"></div>

              <div class="flame"></div>

              <div class="shadow"></div>

        </div>
            
        <div class="confetti">
            <div class="squareOne"></div>
            <div class="squareTwo"></div>
            <div class="squareThree"></div>
            <div class="squareFour"></div>
            <div class="squareFive"></div>
            <div class="squareSix"></div>
            <div class="squareSeven"></div>
            <div class="squareEight"></div>
            <div class="squareNine"></div>
            <div class="squareTen"></div>
        </div>
        <div class="text">{{message}}
            <br>Felicidades {{name}} {{apellido}}!
        </div>
    </div>
  </ng-template>


  <ng-template #calendar let-modal>
    <div class="modal-body">

    </div>
  </ng-template>
  