<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "EVENTS.SERVICEORDER.SERVICEORDER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.SERVICEORDER.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="createPDF()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.SERVICEORDER.GENERATEORDER" | translate }}
                            </button>
                            <!-- <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editServiceOrder()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.SERVICEORDER.EDIT" | translate }}
                            </button> -->
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "EVENTS.SERVICEORDER.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.NOTIFICATION" | translate }}</label>
                                    <select formControlName="cnotificacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cnotificacion').errors }" (change)="getNotificationData()">
                                        <option></option>
                                        <option *ngFor="let notification of notificationList" value="{{ notification.id }}">{{ notification.data }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cnotificacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cnotificacion').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDASSOCIATETYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.FLEETCONTRACT" | translate }}</label>
                                    <input type="text" formControlName="ccontratoflota" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccontratoflota').errors }">
                                    <div *ngIf="submitted && detail_form.get('ccontratoflota').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccontratoflota').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombre').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombre').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombre').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.LASTNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellido" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellido').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellido').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xapellido').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.ALTERNATIVENAME" | translate }}</label>
                                    <input type="text" formControlName="xnombrealternativo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombrealternativo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombrealternativo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombrealternativo').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.ALTERNATESURNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellidoalternativo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellidoalternativo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellidoalternativo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xapellidoalternativo').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.NOTIFICATIONDATE" | translate }}</label>
                                    <input type="text" formControlName="fcreacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fcreacion').errors }">
                                    <div *ngIf="submitted && detail_form.get('fcreacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fcreacion').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.ACCIDENT" | translate }}</label>
                                    <textarea type="text" formControlName="xdescripcionaccidente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdescripcionaccidente').errors }"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdescripcionaccidente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdescripcionaccidente').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.OBSERVATION" | translate }}</label>
                                    <textarea type="text" formControlName="xobservacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xobservacion').errors }"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xobservacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xobservacion').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.DAMAGES" | translate }}</label>
                                    <textarea type="text" formControlName="xdanos" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdanos').errors }"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdanos').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdanos').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.DATEDESCRIPTION" | translate }}</label>
                                    <textarea type="text" formControlName="xfechadescripcion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfechadescripcion').errors }"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xfechadescripcion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xfechadescripcion').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.ADJUSTMENTDATE" | translate }}</label>
                                    <input type="date" formControlName="fajuste" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fajuste').errors }">
                                    <div *ngIf="submitted && detail_form.get('fajuste').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fajuste').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.OWNERNAME" | translate }}</label>
                                    <input type="text" formControlName="xnombrepropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombrepropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombrepropietario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombrepropietario').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.OWNERLASTNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellidopropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellidopropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellidopropietario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xapellidopropietario').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.OWNERDOCID" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidadpropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidadpropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidadpropietario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidadpropietario').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.OWNERCELLPHONE" | translate }}</label>
                                    <input type="text" formControlName="xtelefonocelularpropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefonocelularpropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefonocelularpropietario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefonocelularpropietario').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.BADGE" | translate }}</label>
                                    <input type="text" formControlName="xplaca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xplaca').errors }">
                                    <div *ngIf="submitted && detail_form.get('xplaca').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xplaca').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.COLOR" | translate }}</label>
                                    <input type="text" formControlName="xcolor" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xcolor').errors }">
                                    <div *ngIf="submitted && detail_form.get('xcolor').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xcolor').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.MARCA" | translate }}</label>
                                    <input type="text" formControlName="xmarca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xmarca').errors }">
                                    <div *ngIf="submitted && detail_form.get('xmarca').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xmarca').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "EVENTS.SERVICEORDER.MODEL" | translate }}</label>
                                    <input type="text" formControlName="xmodelo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xmodelo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xmodelo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xmodelo').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-header company-card-header">
                            <div class="row">
                                <!--<div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <label>{{ "EVENTS.SERVICEORDER.SERVICETYPE" | translate }}</label>
                                        <select formControlName="ctiposervicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctiposervicio').errors }" (change)="getServiceData()">
                                            <option></option>
                                            <option *ngFor="let serviceType of serviceTypeList" value="{{ serviceType.tiposervicio }}">{{ serviceType.value }}</option>
                                        </select>
                                        <div *ngIf="submitted && detail_form.get('ctiposervicio').errors"  class="invalid-feedback">
                                            <div *ngIf="detail_form.get('ctiposervicio').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <label>{{ "EVENTS.SERVICEORDER.SERVICE" | translate }}</label>
                                        <select formControlName="cservicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cservicio').errors }" (change)="changeService()">
                                            <option></option>
                                            <option *ngFor="let service of serviceList" value="{{ service.servicio }}">{{ service.value }}</option>
                                        </select>
                                        <div *ngIf="submitted && detail_form.get('cservicio').errors"  class="invalid-feedback">
                                            <div *ngIf="detail_form.get('cservicio').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <label>{{ "EVENTS.SERVICEORDER.ADITIONALSERVICE" | translate }}</label>
                                        <select formControlName="cservicioadicional" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cservicio').errors }" (change)="changeAditionalService()">
                                            <option></option>
                                            <option *ngFor="let service of aditionalServiceList" value="{{ service.servicio }}">{{ service.value }}</option>
                                        </select>
                                        <div *ngIf="submitted && detail_form.get('cservicioadicional').errors"  class="invalid-feedback">
                                            <div *ngIf="detail_form.get('cservicioadicional').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <label>{{ "EVENTS.SERVICEORDER.PROVIDER" | translate }}</label>
                                        <select formControlName="cproveedor" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cproveedor').errors }">
                                            <option></option>
                                            <option *ngFor="let provider of providerList" value="{{ provider.proveedor }}">{{ provider.value }}</option>
                                        </select>
                                        <div *ngIf="submitted && detail_form.get('cproveedor').errors"  class="invalid-feedback">
                                            <div *ngIf="detail_form.get('cproveedor').errors.required">{{ "EVENTS.SERVICEORDER.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>



