<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Buscar Póliza
                        </div>
                        <div class="col-6">
                            <!--<button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.CREATE" | translate }}
                            </button>-->
                            <!--<button [disabled]="loading || !receiptStatus" class="btn company-detail-button float-right" type="button" (click)="createReceipt()">
                                Generar Recibo
                            </button>-->
                            <button [disabled]="loading || !searchStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Póliza Matriz</label>
                                    <div style="background: fixed">
                                    <ng-autocomplete  [data]="chargeList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Póliza" (selected)='batchDropdownDataRequest($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item  [ngStyle]="{'background': 'fixed'}">
                                        <a [innerHTML]="item.value" value="{{ item.id }}"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound  [ngStyle]="{'background': 'fixed'}">
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Lote</label>
                                    <ng-autocomplete  [data]="batchList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Lote" (selected)='receiptDropdownDataRequest($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.value" value="{{ item.id }}"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div> 
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Recibo</label>
                                    <select formControlName="crecibo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccarga').errors }" (change)="onChangeReceipt()">
                                        <option></option>
                                        <option *ngFor="let receipt of receiptList" value="{{ receipt.id }}">{{ receipt.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('crecibo').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div> -->
                            <!--<div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Recibo</label>
                                    <ng-autocomplete  [data]="receiptList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Recibo" (selected)='onChangeReceipt($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.value" value="{{ item.id }}"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.PLATE" | translate }}</label>
                                    <input type="text" formControlName="xplaca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xplaca').errors }" (change)="searchforbadge()">
                                    <div *ngIf="submitted && search_form.get('xplaca').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Información de la Póliza
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 104px;" class="ag-theme-alpine" [rowData]="fleetContractList" [pagination]="false" [paginationPageSize]="1" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Póliza" field="xpoliza" [width]="90" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Cliente" field="xcliente" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Placa" field="xplaca" [width]="140" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Marca" field="xmarca" [width]="150" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Modelo" field="xmodelo" [width]="160" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Versión" field="xversion" [width]="274" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Estatus" field="xestatusgeneral" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Información de los recibos de la póliza
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 416px;" class="ag-theme-alpine" [rowData]="receiptList" [pagination]="false" [paginationPageSize]="9" [columnDefs]="columnDefs">
                            <!--<ag-grid-column headerName="N°" field="nconsecutivo" [width]="55" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="N° Recibo" field="xrecibo" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="N° Contrato" field="ccontratoflota" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="N° Placa" field="xplaca" [width]="140" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Inicio Vigencia" field="fdesde_rec" [width]="150" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Fin Vigencia" field="fhasta_rec" [width]="160" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Prima Total Recibo (USD)" field="mprima_anual" [width]="220" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Estatus" field="xstatus" [width]="140" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Descargar" cellClass="ag-download-column" field="xdescargar" [width]="130" [sortable]="true" [resizable]="true" [onCellClicked]="downloadReceipt"></ag-grid-column> -->
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
