<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.PROFICIENTS.PROFICIENT" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.PROFICIENTS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editProficient()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.PROFICIENTS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.PROFICIENTS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xperito" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xperito').errors }">
                                    <div *ngIf="submitted && detail_form.get('xperito').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xperito').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.BUSINESSNAME" | translate }}</label>
                                    <input type="text" formControlName="xrazonsocial" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xrazonsocial').errors }">
                                    <div *ngIf="submitted && detail_form.get('xrazonsocial').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xrazonsocial').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDBUSINESSNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.PHONENUMBER" | translate }}</label>
                                    <input type="tel" formControlName="xtelefono" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefono').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefono').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefono').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDPHONENUMBER" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.EMAIL" | translate }}</label>
                                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xemail').errors }">
                                    <div *ngIf="submitted && detail_form.get('xemail').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xemail').errors.pattern">{{ "THIRDPARTIES.PROFICIENTS.EMAILPATTERNERROR" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.FAX" | translate }}</label>
                                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfax').errors }">
                                    <div *ngIf="submitted && detail_form.get('xfax').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.WEBPAGE" | translate }}</label>
                                    <input type="text" formControlName="xpaginaweb" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xpaginaweb').errors }">
                                    <div *ngIf="submitted && detail_form.get('xpaginaweb').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.RETENTIONPERCENTAGE" | translate }}</label>
                                    <input type="number" formControlName="pretencion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('pretencion').errors }">
                                    <div *ngIf="submitted && detail_form.get('pretencion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.TAXENTITYCODE" | translate }}</label>
                                    <input type="text" formControlName="centeimpuesto" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('centeimpuesto').errors }">
                                    <div *ngIf="submitted && detail_form.get('centeimpuesto').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('centeimpuesto').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDTAXENTITYCODE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.CREDITDAYSLIMIT" | translate }}</label>
                                    <input type="number" formControlName="ldiascredito" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ldiascredito').errors }">
                                    <div *ngIf="submitted && detail_form.get('ldiascredito').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ldiascredito').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDCREDITDAYSLIMIT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.STATE" | translate }}</label>
                                    <select formControlName="cestado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestado').errors }" (change)="cityDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let state of stateList" value="{{ state.id }}">{{ state.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestado').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDSTATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.CITY" | translate }}</label>
                                    <select formControlName="cciudad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cciudad').errors }">
                                        <option></option>
                                        <option *ngFor="let city of cityList" value="{{ city.id }}">{{ city.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cciudad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cciudad').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDCITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.ADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccion').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.MAILADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccioncorreo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccioncorreo').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccioncorreo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccioncorreo').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDMAILADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.OBSERVATION" | translate }}</label>
                                    <textarea type="text" formControlName="xobservacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xobservacion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xobservacion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xobservacion').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDOBSERVATION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bafiliado" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bafiliado').errors }">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.AFILIATE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bafiliado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bafiliado').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDAFILIATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "THIRDPARTIES.PROFICIENTS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "THIRDPARTIES.PROFICIENTS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


