<div class="modal-header">
    <h4 class="modal-tittle">{{ "THIRDPARTIES.BROKERS.BANK" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.BROKERS.BANK" | translate }}</label>
                    <select formControlName="cbanco" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cbanco').errors }">
                        <option></option>
                        <option *ngFor="let bank of bankList" value="{{ bank.id }}">{{ bank.value }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('cbanco').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('cbanco').errors.required">{{ "THIRDPARTIES.BROKERS.REQUIREDBANK" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.BROKERS.BANKACCOUNTTYPE" | translate }}</label>
                    <select formControlName="ctipocuentabancaria" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('ctipocuentabancaria').errors }">
                        <option></option>
                        <option *ngFor="let bankAccountType of bankAccountTypeList" value="{{ bankAccountType.id }}">{{ bankAccountType.value }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('ctipocuentabancaria').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('ctipocuentabancaria').errors.required">{{ "THIRDPARTIES.BROKERS.REQUIREDBANKACCOUNTTYPE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "THIRDPARTIES.BROKERS.ACCOUNTNUMBER" | translate }}</label>
                    <input type="text" formControlName="xnumerocuenta" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xnumerocuenta').errors }">
                    <div *ngIf="submitted && popup_form.get('xnumerocuenta').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xnumerocuenta').errors.required">{{ "THIRDPARTIES.BROKERS.REQUIREDACCOUNTNUMBER" | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "THIRDPARTIES.BROKERS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deleteBank()" *ngIf="isEdit">
                    {{ "THIRDPARTIES.BROKERS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>