<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.OWNERS.OWNER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.OWNERS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editOwner()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.OWNERS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.OWNERS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombre').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombre').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombre').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.LASTNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellido" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellido').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellido').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xapellido').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDLASTNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.BIRTHDATE" | translate }}</label>
                                    <input type="date" formControlName="fnacimiento" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fnacimiento').errors }">
                                    <div *ngIf="submitted && detail_form.get('fnacimiento').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fnacimiento').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDBIRTHDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.CIVILSTATUS" | translate }}</label>
                                    <select formControlName="cestadocivil" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestadocivil').errors }">
                                        <option></option>
                                        <option *ngFor="let civilStatus of civilStatusList" value="{{ civilStatus.id }}">{{ civilStatus.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestadocivil').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestadocivil').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDCIVILSTATUS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.PROFESSION" | translate }}</label>
                                    <input type="text" formControlName="xprofesion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xprofesion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xprofesion').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xprofesion').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDPROFESSION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.OCCUPATION" | translate }}</label>
                                    <input type="text" formControlName="xocupacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xocupacion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xocupacion').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xocupacion').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDOCCUPATION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.EMAIL" | translate }}</label>
                                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xemail').errors }">
                                    <div *ngIf="submitted && detail_form.get('xemail').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xemail').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDEMAIL" | translate }}</div>
                                        <div *ngIf="detail_form.get('xemail').errors.pattern">{{ "THIRDPARTIES.OWNERS.EMAILPATTERNERROR" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.CELLPHONE" | translate }}</label>
                                    <input type="tel" formControlName="xtelefonocelular" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefonocelular').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefonocelular').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefonocelular').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDCELLPHONE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.HOMEPHONE" | translate }}</label>
                                    <input type="tel" formControlName="xtelefonocasa" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefonocasa').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefonocasa').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.FAX" | translate }}</label>
                                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfax').errors }">
                                    <div *ngIf="submitted && detail_form.get('xfax').errors" class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.STATE" | translate }}</label>
                                    <select formControlName="cestado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestado').errors }" (change)="cityDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let state of stateList" value="{{ state.id }}">{{ state.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestado').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDSTATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.CITY" | translate }}</label>
                                    <select formControlName="cciudad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cciudad').errors }">
                                        <option></option>
                                        <option *ngFor="let city of cityList" value="{{ city.id }}">{{ city.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cciudad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cciudad').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDCITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.ADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccion').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.RELATIONSHIP" | translate }}</label>
                                    <select formControlName="cparentesco" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cparentesco').errors }">
                                        <option></option>
                                        <option *ngFor="let relationship of relationshipList" value="{{ relationship.id }}">{{ relationship.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cparentesco').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cparentesco').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDRELATIONSHIP" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "THIRDPARTIES.OWNERS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.OWNERS.ORIGIN" | translate }}</label>
                                    <select formControlName="cprocedencia" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cprocedencia').errors }">
                                        <option></option>
                                        <option value="API">{{ "DROPDOWN.API" | translate }}</option>
                                        <option value="PRO">{{ "DROPDOWN.PRODUCTION" | translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cprocedencia').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.OWNERS.VEHICLESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addVehicle()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.OWNERS.ADDVEHICLE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="vehicleList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="vehicleRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onVehiclesGridReady($event)">
                            <ag-grid-column headerName="Plate" field="xplaca" [width]="206" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Brand" field="xmarca" [width]="206" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Model" field="xmodelo" [width]="206" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Version" field="xversion" [width]="206" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Color" field="xcolor" [width]="208" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.OWNERS.DOCUMENTSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addDocument()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.OWNERS.ADDDOCUMENT" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="documentList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="documentRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onDocumentsGridReady($event)">
                            <ag-grid-column headerName="Document" field="xdocumento" [width]="518" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Route" field="xrutaarchivo" [width]="518" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


