<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "ADMINISTRATION.COLLECTION.SEARCHRECEIPT" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTION.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                          <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>{{ "ADMINISTRATION.COLLECTION.PLATE" | translate }}</label>
                                <input type="text" formControlName="xplaca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xplaca').errors }">
                                <div *ngIf="submitted && search_form.get('xplaca').errors"  class="invalid-feedback">
                                    <div *ngIf="search_form.get('xplaca').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "ADMINISTRATION.COLLECTION.RECEIPTLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="collectionList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Código" field="crecibo" [width]="100" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Lote" field="clote" [width]="100" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Propietario" field="xnombrepropietario" [width]="200" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Fecha Desde" field="fdesde_pol" [width]="150" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Fecha Hasta" field="fhasta_pol" [width]="150" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Prima Pendiente" field="mprima_anual" [width]="150" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Placa" field="xplaca" [width]="200" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Estatus" field="xestatusgeneral" [width]="150" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
