<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Póliza Matriz
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                Cancelar
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editParentPolicy()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Editar
                            </button>
                            <button [disabled]="loading || loading_cancel || !saveStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }" (change)="checkIfCanCreateParentPolicy(detail_form.value)">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">Se requiere seleccionar un cliente</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Corredor</label>
                                    <select formControlName="ccorredor" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccorredor').errors }" (change)="checkIfCanCreateParentPolicy(detail_form.value)">
                                        <option></option>
                                        <option *ngFor="let broker of brokerList" value="{{ broker.id }}">{{ broker.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccorredor').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccorredor').errors.required">Se requiere seleccionar un corredor</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Lista de Lotes
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addBatch()" *ngIf="isEditing">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Crear Lote
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="batchList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="batchRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onBatchesGridReady($event)">
                            <ag-grid-column headerName="Código" field="clote" [width]="300" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Nombre" field="xobservacion" [width]="370" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Fecha de Creación" field="fcreacion" [width]="378" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>    
    <div class="container">       
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-widget">
            <h3 style="margin-right: 110px;">Horario</h3>
            <div class="footer-widget-content">
              <div class="open-time ">
                  <ul class="opening-time">
                    <li><span></span><h6>Horario disponible de Lunes a Viernes</h6>
                    <li><span></span><h6><strong>A partir de :</strong> 8am - 4pm</h6>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer-widget" style="margin-top: 50px;text-align: -webkit-center;">
            <h6 >Copyright© CompuAmerica 2022.</h6>
            <div class="footer-widget-content">
                <br>
                <h6>6 C. Negrín, Caracas 1050, Frente al CC. El Recreo. Distrito Capital</h6>
                <div class="footer-social">
            </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer-widget">
            <h3>Redes Sociales</h3>
            <div class="footer-widget-content" style=" text-align: -webkit-center;">
              <div class="images-gellary">
                <p></p>
                <table style="margin-left: 25px;">
                  <tr>
                    <td>
                      <ul>
                        <li ><a href="https://www.facebook.com/ArysAuto-Sas-107360681039695" target="_blank"><img  style="border-radius: 6px;background-color: #ffffff7d;" src="./assets/imagenes/facebook.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                        <br>
                        <li><a href="https://www.instagram.com/arysautos.vzla/?hl=es-la" target="_blank"><img style="background-color: #ffffff7d;border-radius: 15px;" src="./assets/imagenes/instagram.png" alt="Instagram 02" width="40px" height="40px"></a></li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li style="border-radius: 15px;"><a  href="https://twitter.com/arysauto" target="_blank"><img style="background-color: #ffffff7d;" src="./assets/imagenes/twitter.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                        <br>
                        <li style="border-radius: 15px;"><a href="https://co.linkedin.com/company/linkedin-com-company-arysautosas" target="_blank"><img  style="background-color: #ffffff7d"src="./assets/imagenes/linkedin.png"  width="40px" height="40px"></a></li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

