<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.INSURERS.INSURER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.INSURERS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editInsurer()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.INSURERS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.INSURERS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xaseguradora" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xaseguradora').errors }">
                                    <div *ngIf="submitted && detail_form.get('xaseguradora').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xaseguradora').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.REPRESENTATIVE" | translate }}</label>
                                    <input type="text" formControlName="xrepresentante" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xrepresentante').errors }">
                                    <div *ngIf="submitted && detail_form.get('xrepresentante').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xrepresentante').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDREPRESENTATIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.EMAIL" | translate }}</label>
                                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xemail').errors }">
                                    <div *ngIf="submitted && detail_form.get('xemail').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xemail').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDEMAIL" | translate }}</div>
                                        <div *ngIf="detail_form.get('xemail').errors.pattern">{{ "THIRDPARTIES.INSURERS.EMAILPATTERNERROR" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.PHONENUMBER" | translate }}</label>
                                    <input type="tel" formControlName="xtelefono" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefono').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefono').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.STATE" | translate }}</label>
                                    <select formControlName="cestado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestado').errors }" (change)="cityDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let state of stateList" value="{{ state.id }}">{{ state.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestado').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDSTATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.CITY" | translate }}</label>
                                    <select formControlName="cciudad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cciudad').errors }">
                                        <option></option>
                                        <option *ngFor="let city of cityList" value="{{ city.id }}">{{ city.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cciudad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cciudad').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDCITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.TAXADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccionfiscal" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccionfiscal').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccionfiscal').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccionfiscal').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDTAXADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "THIRDPARTIES.INSURERS.WEBPAGE" | translate }}</label>
                                    <input type="text" formControlName="xpaginaweb" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xpaginaweb').errors }">
                                    <div *ngIf="submitted && detail_form.get('xpaginaweb').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bnotificacionsms" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bnotificacionsms').errors }">
                                    <label>{{ "THIRDPARTIES.INSURERS.SMSNOTIFICATIONS" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bnotificacionsms').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bnotificacionsms').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDSMSNOTIFICATIONS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "THIRDPARTIES.INSURERS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "THIRDPARTIES.INSURERS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "THIRDPARTIES.INSURERS.CONTACTSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addContact()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "THIRDPARTIES.INSURERS.ADDCONTACT" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="contactList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="contactRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onContactsGridReady($event)">
                            <ag-grid-column headerName="Name" field="xnombre" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Lastname" field="xapellido" [width]="259" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Cellphone" field="xtelefonocelular" [width]="259" [sortable]="false"></ag-grid-column>
                            <ag-grid-column headerName="Email" field="xemail" [width]="259" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

