@import '~mdb-ui-kit/css/mdb.min.css';

mat-toolbar {
  background: #72b6ff
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: #72b6ff;
  text-align: center;

}

mat-sidenav-content{
  margin-left: 45px;
  width: 98%;
  overflow: inherit;
}
.mat-toolbar-row,.mat-toolbar-single-row {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

}
/* .mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
} */
.content {
  /* height: calc(100vh - 130px); */
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;

}
/* .container{
  max-width: 94%;
} */


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 47px;
  background-color: transparent;

} 
  mat-icon {
    margin-right: 8px;
    background-color: transparent;
    color: white;
  }
  .mat-icon-button{
    background-color: transparent;
    color: white ;

  }

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;

}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* .modal {
  z-index: 1058; 
}  
.modal-content {
  width: 102%;
}   */