 <mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
<h5>Panauto Club</h5>
  </mat-toolbar>
  
  <mat-sidenav-container style="overflow: inherit;">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" style="overflow: inherit;">
      <img
        class="avatar mat-elevation-z8 logocompany-system"
        href="/dashboard"
      />
  
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      
      <button mat-button class="menu-button" routerLink="/user-profile">
        <mat-icon>account_circle</mat-icon>
        <span>Usuario</span>
      </button>

      <button mat-button class="menu-button" routerLink="/notifications">
        <mat-icon>account_circle</mat-icon>
        <span>Solicitud de servicio</span>
      </button>
<!--   
      <button mat-button class="menu-button" routerLink="/vehicle">
        <mat-icon>directions_car</mat-icon>
        <span>Vehiculo</span>
      </button> -->


      <button mat-button class="menu-button" routerLink="/user-profile" (click)="logOut()">
        <mat-icon>reply_all</mat-icon>
        <span>Salir</span>
      </button>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>




