<div class="modal-header">
    <h4 class="modal-tittle">{{ "PROVIDERS.PROVIDERS.CONTACT" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.NAME" | translate }}</label>
                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xnombre').errors }">
                    <div *ngIf="submitted && popup_form.get('xnombre').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xnombre').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDNAME" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.LASTNAME" | translate }}</label>
                    <input type="text" formControlName="xapellido" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xapellido').errors }">
                    <div *ngIf="submitted && popup_form.get('xapellido').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xapellido').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDLASTNAME" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.DOCUMENTTYPE" | translate }}</label>
                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('ctipodocidentidad').errors }">
                        <option></option>
                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                    </select>
                    <div *ngIf="submitted && popup_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                        <div *ngIf="popup_form.get('ctipodocidentidad').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDDOCUMENTTYPE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.IDENTIFICATIONDOCUMENT" | translate }}</label>
                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xdocidentidad').errors }">
                    <div *ngIf="submitted && popup_form.get('xdocidentidad').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xdocidentidad').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.CELLPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonocelular" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonocelular').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonocelular').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xtelefonocelular').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDCELLPHONE" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.EMAIL" | translate }}</label>
                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xemail').errors }">
                    <div *ngIf="submitted && popup_form.get('xemail').errors" class="invalid-feedback">
                        <div *ngIf="popup_form.get('xemail').errors.required">{{ "PROVIDERS.PROVIDERS.REQUIREDEMAIL" | translate }}</div>
                        <div *ngIf="popup_form.get('xemail').errors.pattern">{{ "PROVIDERS.PROVIDERS.EMAILPATTERNERROR" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.POSITION" | translate }}</label>
                    <input type="text" formControlName="xcargo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xcargo').errors }">
                    <div *ngIf="submitted && popup_form.get('xcargo').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.OFFICEPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonooficina" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonooficina').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonooficina').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.HOMEPHONE" | translate }}</label>
                    <input type="tel" formControlName="xtelefonocasa" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xtelefonocasa').errors }">
                    <div *ngIf="submitted && popup_form.get('xtelefonocasa').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ "PROVIDERS.PROVIDERS.FAX" | translate }}</label>
                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('xfax').errors }">
                    <div *ngIf="submitted && popup_form.get('xfax').errors" class="invalid-feedback">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <button [disabled]="loading" class="btn company-detail-button btn-lg btn-block" type="submit" *ngIf="canSave">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ "PROVIDERS.PROVIDERS.SAVE" | translate }}
                </button>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-danger btn-lg btn-block" type="button" (click)="deleteContact()" *ngIf="isEdit">
                    {{ "PROVIDERS.PROVIDERS.DELETE" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
