<div class="container py-5">
    <!-- <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div> -->
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.SEARCHFLEETCONTRACT" }}
                        </div>
                        <div class="col-6">
                            <!--<button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.CREATE" | translate }}
                            </button>-->
                            <!--<button [disabled]="loading || !receiptStatus" class="btn company-detail-button float-right" type="button" (click)="createReceipt()">
                                Generar Recibo
                                
                                
                                (click)="onSubmit(search_form.value)"
                            </button>-->
                            <button  class="btn company-detail-button float-right mr-1" type="button" >
                                <span  class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.SEARCH"  }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form >
                        <div class="row"><!--  [formGroup]="search_form"


                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccliente').errors }" (change)="chargeDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('ccliente').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Póliza Matriz</label>
                                    <!-- <select formControlName="ccarga" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccarga').errors }" (change)="batchDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let charge of chargeList" value="{{ charge.id }}">{{ charge.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('ccarga').errors"  class="invalid-feedback">
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Lote</label>
                                    <!-- <select formControlName="clote" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('clote').errors }" (change)="receiptDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let batch of batchList" value="{{ batch.id }}">{{ batch.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('clote').errors"  class="invalid-feedback">
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Recibo</label>
                                    <!-- <select formControlName="crecibo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccarga').errors }" (change)="onChangeReceipt()">
                                        <option></option>
                                        <option *ngFor="let receipt of receiptList" value="{{ receipt.id }}">{{ receipt.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('crecibo').errors"  class="invalid-feedback">
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.PLATE"  }}</label>
                                    <input type="text" formControlName="xplaca" class="form-control" >
                                    <!-- <div *ngIf="submitted && search_form.get('xplaca').errors"  class="invalid-feedback"> [ngClass]="{ 'is-invalid' : submitted && search_form.get('xplaca').errors }"
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.FLEETCONTRACTSLIST"  }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container py-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- zona de comentados
                        <ag-grid-angular style="width: 100%; height: 520px;" class="ag-theme-alpine" [rowData]="fleetContractList" [pagination]="true" [paginationPageSize]="10" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="N° Recibo" field="crecibo" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="N° Contrato" field="ccontratoflota" [width]="115" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Marca" field="xmarca" [width]="150" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Modelo" field="xmodelo" [width]="160" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Versión" field="xversion" [width]="274" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Placa" field="xplaca" [width]="140" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Estatus" field="xestatusgeneral" [width]="140" [sortable]="true" [resizable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Póliza" field="xpoliza" [width]="130" [sortable]="true" [resizable]="true"></ag-grid-column>
                        </ag-grid-angular>







-->


<!-- <app-footer></app-footer> -->