<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Información del Recibo
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "ADMINISTRATION.COLLECTION.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.CLIENT" | translate }}</label>
                                    <input type="text" formControlName="xcliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xcliente').errors }">
                                    <div *ngIf="submitted && detail_form.get('xcliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xcliente').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.DOCUMENTSIDENTIFICATIONCLIENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidadcliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidadcliente').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidadcliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidadcliente').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.EMAIL" | translate }}</label>
                                    <input type="text" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xemail').errors }">
                                    <div *ngIf="submitted && detail_form.get('xemail').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xemail').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.PHONE" | translate }}</label>
                                    <input type="text" formControlName="xtelefono" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefono').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefono').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefono').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Fecha Inicio - Vigencia del Recibo</label>
                                    <input type="date" formControlName="fdesde_rec" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fdesde_rec').errors }">
                                    <div *ngIf="submitted && detail_form.get('fdesde_rec').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fdesde_rec').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Fecha Fin - Vigencia del Recibo</label>
                                    <input type="date" formControlName="fhasta_rec" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fhasta_rec').errors }">
                                    <div *ngIf="submitted && detail_form.get('fhasta_rec').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fhasta_rec').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.VEHICLE" | translate }}</label>
                                    <input type="text" formControlName="xvehiculo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xvehiculo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xvehiculo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xvehiculo').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.PLATE" | translate }}</label>
                                    <input type="text" formControlName="xplaca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xplaca').errors }">
                                    <div *ngIf="submitted && detail_form.get('xplaca').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xplaca').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.PREMIUM" | translate }}</label>
                                    <input type="text" formControlName="mprima" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mprima').errors }">
                                    <div *ngIf="submitted && detail_form.get('mprima').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mprima').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "ADMINISTRATION.COLLECTION.STATUS" | translate }}</label>
                                    <input type="text" formControlName="xestatusgeneral" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xestatusgeneral').errors }">
                                    <div *ngIf="submitted && detail_form.get('xestatusgeneral').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xestatusgeneral').errors.required">{{ "CONFIGURATION.TAXESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-sm-12 mt-2">
                                <div style="margin-top: 10px;">
                                    <button style="width: 220px;height: 48px;margin-left: 100px;" [disabled]="loading || loading_cancel" class="btn company-detail-button btn-lg btn-block" type="button" (click)="addPayment()" *ngIf="bpago">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Pago Manual
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   
<br>

 <!--  <div class="modal-header" *ngIf="guardado">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="returnTrue()">Save</button>
    </div>--> 
  

<app-footer></app-footer>
