<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.EXTRACOVERAGES.SEARCHEXTRACOVERAGE" | translate }}
                        </div>
                        <div class="col-6">
                            <button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "QUOTATION.EXTRACOVERAGES.CREATE" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.EXTRACOVERAGES.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.EXTRACOVERAGES.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccliente').errors }" (change)="associateDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('ccliente').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.EXTRACOVERAGES.ASSOCIATE" | translate }}</label>
                                    <select formControlName="casociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('casociado').errors }">
                                        <option></option>
                                        <option *ngFor="let associate of associateList" value="{{ associate.id }}">{{ associate.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('casociado').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.EXTRACOVERAGES.DESCRIPTION" | translate }}</label>
                                    <input type="text" formControlName="xdescripcion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xdescripcion').errors }">
                                    <div *ngIf="submitted && search_form.get('xdescripcion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.EXTRACOVERAGES.EXTRACOVERAGESLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="extraCoverageList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Code" field="ccoberturaextra" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Client" field="xcliente" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Associate" field="xasociado" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Description" field="xdescripcion" [width]="207" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Active" field="xactivo" [width]="208" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


