<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "TABLES.ASSOCIATETYPES.SEARCHASSOCIATETYPE" | translate }}
                        </div>
                        <div class="col-6">
                            <button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "TABLES.ASSOCIATETYPES.CREATE" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "TABLES.ASSOCIATETYPES.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.ASSOCIATETYPES.NAME" | translate }}</label>
                                    <input type="text" formControlName="xtipoasociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtipoasociado').errors }">
                                    <div *ngIf="submitted && search_form.get('xtipoasociado').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "TABLES.ASSOCIATETYPES.ASSOCIATETYPESLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-alpine" [rowData]="associateTypeList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Code" field="ctipoasociado" [width]="345" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Name" field="xtipoasociado" [width]="345" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Active" field="xactivo" [width]="346" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

