<div class="modal-header">
    <h4 class="modal-tittle">Tipos de servicios</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- style="display: -webkit-box;width: fit-content;" -->
<div class="modal-body">    
    <div  style="display: -webkit-box;width: fit-content;">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Agregar Tipos de Servicios
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-alpine" [rowData]="serviceTypeList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="serviceTypeRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onServiceTypeGridReady($event)">
                            <ag-grid-column headerName="Código" field="ctiposervicio" [width]="165" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo de servicio" field="xtiposervicio" [width]="290" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <!-- <ag-grid-column headerName="Monto Máximo de Cobertura" field="mmontomax" [width]="250" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <ag-grid-column headerName="Tasa" field="ptasa" [width]="250" [sortable]="true"></ag-grid-column> -->
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Tipo de Servicios Agregados
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit()" *ngIf="canSave">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-alpine" [rowData]="acceptedserviceTypeList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" [enableCellChangeFlash]="true" (gridReady)="onAcceptedServiceTypeGridReady($event)">
                            <ag-grid-column headerName="Código" field="ctiposervicio" [width]="165" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Tipo de Servicio" field="xtiposervicio" [width]="290" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <!-- <ag-grid-column headerName="Monto Máximo de Cobertura" field="mmontomax" [width]="250" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <ag-grid-column headerName="Tasa" field="ptasa" [width]="250" [sortable]="true"></ag-grid-column> -->
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: -webkit-box;width: fit-content;">
        <div class="col-sm-8" style="margin-top: 15px;">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Servicios que cubre el Tipo.
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-alpine" [rowData]="serviceList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="numberServiceRowClicked($event)" [enableCellChangeFlash]="true">
                            <ag-grid-column headerName="Código" field="cservicio" [width]="165" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Servicio" field="xservicio" [width]="290" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <!-- <ag-grid-column headerName="Monto Máximo de Cobertura" field="mmontomax" [width]="250" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <ag-grid-column headerName="Tasa" field="ptasa" [width]="250" [sortable]="true"></ag-grid-column> -->
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" style="margin-top: 15px;">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Servicios con Cantidad
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-alpine" [rowData]="quantityList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" [enableCellChangeFlash]="true">
                            <ag-grid-column headerName="Código" field="cservicio" [width]="150" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Servicio" field="xservicio" [width]="150" [sortable]="true" style="text-align: center;"></ag-grid-column>
                            <ag-grid-column headerName="Cantidad" field="ncantidad" [width]="150" [sortable]="true" style="text-align: center;"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <div class="modal-header">
    <h4 class="modal-tittle">{{ "PRODUCTS.PLANS.SERVICE" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
    <div class="row mt-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-12">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(popup_form.value)"  *ngIf="canSave">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLANS.SAVE" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn btn-danger float-right mr-1" type="button" (click)="deleteService()" *ngIf="isEdit">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLANS.DELETE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="popup_form" (ngSubmit)="onSubmit(popup_form.value)">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.SERVICETYPE" | translate }}</label>
                                    <select formControlName="ctiposervicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('ctiposervicio').errors }" (change)="serviceDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let serviceType of serviceTypeList" value="{{ serviceType.id }}">{{ serviceType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && popup_form.get('ctiposervicio').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('ctiposervicio').errors.required">{{ "PRODUCTS.PLANS.REQUIREDSERVICETYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.SERVICE" | translate }}</label>
                                    <select formControlName="cservicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('cservicio').errors }">
                                        <option></option>
                                        <option *ngFor="let service of serviceList" value="{{ service.id }}">{{ service.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && popup_form.get('cservicio').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('cservicio').errors.required">{{ "PRODUCTS.PLANS.REQUIREDSERVICE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.SERVICEDEPLETIONTYPE" | translate }}</label>
                                    <select formControlName="ctipoagotamientoservicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('ctipoagotamientoservicio').errors }">
                                        <option></option>
                                        <option *ngFor="let serviceDepletionType of serviceDepletionTypeList" value="{{ serviceDepletionType.id }}">{{ serviceDepletionType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && popup_form.get('ctipoagotamientoservicio').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('ctipoagotamientoservicio').errors.required">{{ "PRODUCTS.PLANS.REQUIREDSERVICEDEPLETIONTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.QUANTITY" | translate }}</label>
                                    <input type="number" formControlName="ncantidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('ncantidad').errors }">
                                    <div *ngIf="submitted && popup_form.get('ncantidad').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('ncantidad').errors.required">{{ "PRODUCTS.PLANS.REQUIREDQUANTITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.PERCENTAGE" | translate }}</label>
                                    <input type="number" formControlName="pservicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('pservicio').errors }">
                                    <div *ngIf="submitted && popup_form.get('pservicio').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('pservicio').errors.required">{{ "PRODUCTS.PLANS.REQUIREDPERCENTAGE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.MAXIMUMAMOUNTCOVERAGE" | translate }}</label>
                                    <input type="number" formControlName="mmaximocobertura" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('mmaximocobertura').errors }">
                                    <div *ngIf="submitted && popup_form.get('mmaximocobertura').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('mmaximocobertura').errors.required">{{ "PRODUCTS.PLANS.REQUIREDMAXIMUMAMOUNTCOVERAGE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "PRODUCTS.PLANS.DEDUCTIBLE" | translate }}</label>
                                    <input type="number" formControlName="mdeducible" class="form-control" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('mdeducible').errors }">
                                    <div *ngIf="submitted && popup_form.get('mdeducible').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('mdeducible').errors.required">{{ "PRODUCTS.PLANS.REQUIREDDEDUCTIBLE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bserviciopadre" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && popup_form.get('bserviciopadre').errors }">
                                    <label>{{ "PRODUCTS.PLANS.FATHERSERVICE" | translate }}</label>
                                    <div *ngIf="submitted && popup_form.get('bserviciopadre').errors"  class="invalid-feedback">
                                        <div *ngIf="popup_form.get('bserviciopadre').errors.required">{{ "PRODUCTS.PLANS.REQUIREDFATHERSERVICE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PRODUCTS.PLANS.COVERAGESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="addCoverage()" *ngIf="isEdit || canSave">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLANS.ADDCOVERAGE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="coverageList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="coverageRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onCoveragesGridReady($event)">
                            <ag-grid-column headerName="Coverage" field="xcobertura" [width]="518" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Coverage Concept" field="xconceptocobertura" [width]="518" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->