<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "TABLES.VERSIONS.VERSION" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "TABLES.VERSIONS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editVersion()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "TABLES.VERSIONS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "TABLES.VERSIONS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.ASSOCIATECODE" | translate }}</label>
                                    <input type="number" formControlName="casociado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('casociado').errors }">
                                    <div *ngIf="submitted && detail_form.get('casociado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('casociado').errors.required">{{ "TABLES.VERSIONS.REQUIREDASSOCIATECODE" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.BRAND" | translate }}</label>
                                    <select formControlName="cmarca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cmarca').errors }" (change)="modelDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let brand of brandList" value="{{ brand.id }}">{{ brand.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cmarca').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cmarca').errors.required">{{ "TABLES.VERSIONS.REQUIREDBRAND" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.MODEL" | translate }}</label>
                                    <select formControlName="cmodelo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cmodelo').errors }">
                                        <option></option>
                                        <option *ngFor="let model of modelList" value="{{ model.id }}">{{ model.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cmodelo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cmodelo').errors.required">{{ "TABLES.VERSIONS.REQUIREDMODEL" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xversion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xversion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xversion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xversion').errors.required">{{ "TABLES.VERSIONS.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.TRANSMISSIONTYPE" | translate }}</label>
                                    <select formControlName="xtransmision" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtransmision').errors }">
                                        <!-- <option></option> -->
                                        <option *ngFor="let transmissionType of transmissionTypeList" value="{{ transmissionType.value }}">{{ transmissionType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('xtransmision').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtransmision').errors.required">{{ "TABLES.VERSIONS.REQUIREDTRANSMISIONTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.ENGINEDISPLACEMENT" | translate }}</label>
                                    <input type="text" formControlName="xcilindrajemotor" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xcilindrajemotor').errors }">
                                    <div *ngIf="submitted && detail_form.get('xcilindrajemotor').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xcilindrajemotor').errors.required">{{ "TABLES.VERSIONS.REQUIREDENGINEDISPLACEMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.VEHICLETYPE" | translate }}</label>
                                    <select formControlName="ctipovehiculo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipovehiculo').errors }">
                                        <option></option>
                                        <option *ngFor="let vehicleType of vehicleTypeList" value="{{ vehicleType.id }}">{{ vehicleType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipovehiculo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipovehiculo').errors.required">{{ "TABLES.VERSIONS.REQUIREDVEHICLETYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.LOADINGCAPACITY" | translate }}</label>
                                    <input type="number" formControlName="ncapacidadcarga" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ncapacidadcarga').errors }">
                                    <div *ngIf="submitted && detail_form.get('ncapacidadcarga').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ncapacidadcarga').errors.required">{{ "TABLES.VERSIONS.REQUIREDLOADINGCAPACITY" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.PASSENGERS" | translate }}</label>
                                    <input type="number" formControlName="npasajero" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('npasajero').errors }">
                                    <div *ngIf="submitted && detail_form.get('npasajero').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('npasajero').errors.required">{{ "TABLES.VERSIONS.REQUIREDPASSENGERS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "TABLES.VERSIONS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "TABLES.VERSIONS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

