<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <form [formGroup]="detail_form">
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.CLUBCONTRACT" | translate }}
                            </div>
                            <div class="col-6">
                                <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                    <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.CANCEL" | translate }}
                                </button>
                                <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editClubContract()" *ngIf="canEdit && showEditButton">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.EDIT" | translate }}
                                </button>
                                <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.SAVE" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.STARTDATE" | translate }}</label>
                                    <input type="date" formControlName="finicio" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('finicio').errors }">
                                    <div *ngIf="submitted && detail_form.get('finicio').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('finicio').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.EXPIRATIONDATE" | translate }}</label>
                                    <input type="date" formControlName="fvencimiento" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fvencimiento').errors }">
                                    <div *ngIf="submitted && detail_form.get('fvencimiento').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fvencimiento').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDEXPIRATIONDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.RENOVATIONDATE" | translate }}</label>
                                    <input type="date" formControlName="frenovacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('frenovacion').errors }">
                                    <div *ngIf="submitted && detail_form.get('frenovacion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.ORIGIN" | translate }}</label>
                                    <select formControlName="cprocedencia" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cprocedencia').errors }">
                                        <option></option>
                                        <option value="API">{{ "DROPDOWN.API" | translate }}</option>
                                        <option value="PRO">{{ "DROPDOWN.PRODUCTION" | translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cprocedencia').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.OWNER" | translate }}
                            </div>
                            <div class="col-6">
                                <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="searchOwner()" *ngIf="canEdit || canCreate">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.SEARCHOWNER" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombrepropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombrepropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombrepropietario').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.LASTNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellidopropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellidopropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellidopropietario').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidadpropietario" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidadpropietario').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidadpropietario').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.VEHICLE" | translate }}
                            </div>
                            <div class="col-6">
                                <button [disabled]="loading || loading_cancel || !editStatus || !detail_form.get('cpropietario').value" class="btn company-detail-button float-right mr-1" type="button" (click)="searchVehicle()" *ngIf="canEdit || canCreate">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.SEARCHVEHICLE" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PLATE" | translate }}</label>
                                    <input type="text" formControlName="xplaca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xplaca').errors }">
                                    <div *ngIf="submitted && detail_form.get('xplaca').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.BRAND" | translate }}</label>
                                    <input type="text" formControlName="xmarca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xmarca').errors }">
                                    <div *ngIf="submitted && detail_form.get('xmarca').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.MODEL" | translate }}</label>
                                    <input type="text" formControlName="xmodelo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xmodelo').errors }">
                                    <div *ngIf="submitted && detail_form.get('xmodelo').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.VERSION" | translate }}</label>
                                    <input type="text" formControlName="xversion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xversion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xversion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.DRIVER" | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bpropietario" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }" (change)="checkOwner($event)">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.OWNER" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bpropietario').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bpropietario').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDOWNER" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.NAME" | translate }}</label>
                                    <input type="text" formControlName="xnombre" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xnombre').errors }">
                                    <div *ngIf="submitted && detail_form.get('xnombre').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xnombre').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.LASTNAME" | translate }}</label>
                                    <input type="text" formControlName="xapellido" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xapellido').errors }">
                                    <div *ngIf="submitted && detail_form.get('xapellido').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xapellido').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDLASTNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.DOCUMENTTYPE" | translate }}</label>
                                    <select formControlName="ctipodocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipodocidentidad').errors }">
                                        <option></option>
                                        <option *ngFor="let documentType of documentTypeList" value="{{ documentType.id }}">{{ documentType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipodocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipodocidentidad').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDDOCUMENTTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.IDENTIFICATIONDOCUMENT" | translate }}</label>
                                    <input type="text" formControlName="xdocidentidad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdocidentidad').errors }">
                                    <div *ngIf="submitted && detail_form.get('xdocidentidad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdocidentidad').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDIDENTIFICATIONDOCUMENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.BIRTHDATE" | translate }}</label>
                                    <input type="date" formControlName="fnacimiento" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('fnacimiento').errors }">
                                    <div *ngIf="submitted && detail_form.get('fnacimiento').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('fnacimiento').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDBIRTHDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.CIVILSTATUS" | translate }}</label>
                                    <select formControlName="cestadocivil" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestadocivil').errors }">
                                        <option></option>
                                        <option *ngFor="let civilStatus of civilStatusList" value="{{ civilStatus.id }}">{{ civilStatus.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestadocivil').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestadocivil').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDCIVILSTATUS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PROFESSION" | translate }}</label>
                                    <input type="text" formControlName="xprofesion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xprofesion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xprofesion').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xprofesion').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDPROFESSION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.OCCUPATION" | translate }}</label>
                                    <input type="text" formControlName="xocupacion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xocupacion').errors }">
                                    <div *ngIf="submitted && detail_form.get('xocupacion').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xocupacion').errors.required">{{ "THIRDPARTIES.OWNERS.REQUIREDOCCUPATION" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.EMAIL" | translate }}</label>
                                    <input type="email" formControlName="xemail" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xemail').errors }">
                                    <div *ngIf="submitted && detail_form.get('xemail').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xemail').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDEMAIL" | translate }}</div>
                                        <div *ngIf="detail_form.get('xemail').errors.pattern">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.EMAILPATTERNERROR" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.CELLPHONE" | translate }}</label>
                                    <input type="tel" formControlName="xtelefonocelular" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefonocelular').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefonocelular').errors" class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xtelefonocelular').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDCELLPHONE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.HOMEPHONE" | translate }}</label>
                                    <input type="tel" formControlName="xtelefonocasa" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xtelefonocasa').errors }">
                                    <div *ngIf="submitted && detail_form.get('xtelefonocasa').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.FAX" | translate }}</label>
                                    <input type="text" formControlName="xfax" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xfax').errors }">
                                    <div *ngIf="submitted && detail_form.get('xfax').errors" class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.STATE" | translate }}</label>
                                    <select formControlName="cestado" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cestado').errors }" (change)="cityDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let state of stateList" value="{{ state.id }}">{{ state.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cestado').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cestado').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDSTATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.CITY" | translate }}</label>
                                    <select formControlName="cciudad" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cciudad').errors }">
                                        <option></option>
                                        <option *ngFor="let city of cityList" value="{{ city.id }}">{{ city.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cciudad').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cciudad').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDCITY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.ADDRESS" | translate }}</label>
                                    <textarea type="text" formControlName="xdireccion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xdireccion').errors }" cols="30" rows="2"></textarea>
                                    <div *ngIf="submitted && detail_form.get('xdireccion').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xdireccion').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDADDRESS" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.RELATIONSHIP" | translate }}</label>
                                    <select formControlName="cparentesco" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cparentesco').errors }">
                                        <option></option>
                                        <option *ngFor="let relationship of relationshipList" value="{{ relationship.id }}">{{ relationship.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cparentesco').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cparentesco').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDRELATIONSHIP" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PLAN" | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PLANTYPE" | translate }}</label>
                                    <select formControlName="ctipoplan" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ctipoplan').errors }" (change)="planDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let planType of planTypeList" value="{{ planType.id }}">{{ planType.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ctipoplan').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ctipoplan').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDPLANTYPE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PLAN" | translate }}</label>
                                    <select formControlName="cplan" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cplan').errors }" (change)="paymentMethodologyDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let plan of planList" value="{{ plan.id }}">{{ plan.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cplan').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cplan').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDPLAN" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PAYMENTMETHODOLOGY" | translate }}</label>
                                    <select formControlName="cmetodologiapago" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('cmetodologiapago').errors }">
                                        <option></option>
                                        <option *ngFor="let paymentMethodology of paymentMethodologyList" value="{{ paymentMethodology.id }}">{{ paymentMethodology.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('cmetodologiapago').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('cmetodologiapago').errors.required">{{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.REQUIREDPAYMENTMETHODOLOGY" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header company-card-header">
                        <div class="row">
                            <div class="col-6">
                                {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.PAYMENTVOUCHERSLIST" | translate }}
                            </div>
                            <div class="col-6">
                                <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addPaymentVoucher()" *ngIf="canEdit || canCreate">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{ "SUBSCRIPTION.CLUBCONTRACTSMANAGEMENT.ADDPAYMENTVOUCHER" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container py-5">
                            <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="paymentVoucherList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="paymentVoucherRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onPaymentVouchersGridReady($event)">
                                <ag-grid-column headerName="Code" field="ccomprobantepago" [width]="259" [sortable]="true"></ag-grid-column>
                                <ag-grid-column headerName="Bank" field="xbanco" [width]="259" [sortable]="true"></ag-grid-column>
                                <ag-grid-column headerName="Transaction" field="ctransaccion" [width]="259" [sortable]="false"></ag-grid-column>
                                <ag-grid-column headerName="Reference" field="creferenciatransaccion" [width]="259" [sortable]="false"></ag-grid-column>
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>

