<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                             Marca - Modelo - Versión
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading"  *ngIf="!canCreate" class="btn company-detail-button float-right" type="button" (click)="goToCreate($event)">
                                {{ "EVENTS.NOTIFICATIONS.CREATE" | translate }}
                            </button> 
                            <button  *ngIf="canEdit" class="btn company-detail-button float-right" type="button" (click)="goToDetail($event)">
                                {{ "EVENTS.NOTIFICATIONS.EDIT" | translate }}
                            </button>
                            <button *ngIf="submitted" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
              <form [formGroup]="search_form">
                <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Marca</label>
                                    <div >
                                    <ng-autocomplete  [data]="marcaList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Marca" (selected)='getModeloData($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item >
                                        <a [innerHTML]="item.value"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound  >
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div> 
            
                              <div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Modelo</label>
                                    
                                    <ng-autocomplete  [data]="modelList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Modelo" (selected)='getVersionData($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item >
                                        <a [innerHTML]="item.value"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound >
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  
                                </div>
                              </div> 
            
                              <div class="col-sm-12 col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Examplev5">Version</label>
                                    
                                    <ng-autocomplete  [data]="versionList" [searchKeyword]="keyword" 
                                                    placeholder="Seleccionar Version" (selected)='searchVersion($event)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-item >
                                        <a [innerHTML]="item.value"></a>
                                    </ng-template>
                                
                                    <ng-template #notFoundTemplate let-notFound >
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  
                                </div>
                              </div>
                        </div>
                </div>
                <div class="row mt-5 mb-5" >
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header company-card-header">
                              <div class="row">
                                  <div class="col-6">
                                      Lista
                                  </div>
                              </div>
                          </div>
                           <div class="row" style="padding: 10px;">
                                    <div class="col-md-3 mb-4 pb-2" >
                                      <div class="form-outline">
                                        <label class="form-label required" for="form3Examplev5">Marca</label>
                                        <input type="text" formControlName="xmarca" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xmarca').errors }"  />
                                        <div *ngIf="submitted && search_form.get('xmarca').errors" class="invalid-feedback">
                                          <div *ngIf="search_form.get('xmarca').errors.required">Se requiere completar el campo</div>
                                        </div>
                                      </div>
                                    </div>
          
                                    <div class="col-md-3 mb-4 pb-2 ">
                                      <div class="form-outline">
                                        <label class="form-label required" for="form3Examplev5">Modelo</label>
                                        <input type="text" formControlName="xmodelo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xmodelo').errors }"  />
                                        <div *ngIf="submitted && search_form.get('xmodelo').errors" class="invalid-feedback">
                                          <div *ngIf="search_form.get('xmodelo').errors.required">Se requiere completar el campo</div>
                                        </div>
                                      </div>
                                    </div>
          
                                     <div class="col-md-3 mb-4 pb-2" >
                                      <div class="form-outline">
                                        <label class="form-label " for="form3Examplev5">Version</label>
                                        <input type="text" formControlName="xversion" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xversion').errors }"  />
                                        <div *ngIf="submitted && search_form.get('xversion').errors" class="invalid-feedback">
                                          <div *ngIf="search_form.get('xversion').errors.required">Se requiere completar el campo</div>
                                        </div>
                                      </div>
                                    </div>
          
                                    <div class="col-md-3 mb-4 pb-2 " >
                                      <div class="form-outline">
                                        <label class="form-label required" for="form3Examplev5">Capacidad de Pasajeros</label>
                                        <input type="number" formControlName="npasajero" class="form-control form-control-lg"  [ngClass]="{ 'is-invalid' : submitted && search_form.get('npasajero').errors }" />
                                      </div>
                                    </div>
          
                                    <div class="col-md-3 mb-4 pb-2 " >
                                      <div class="form-outline">
                                        <label class="form-label required" for="form3Examplev5">Transmisión</label>
                                        <select formControlName="xtransmision" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtransmision').errors }">
                                          <!-- <option></option> -->
                                          <option *ngFor="let transmissionType of transmissionTypeList" value="{{ transmissionType.value }}">{{ transmissionType.value }}</option>
                                      </select>                            </div>
                                    </div>
          
                                    <div class="col-md-2 mb-4 pb-2 " >
                                      <div class="form-outline">
                                        <label class="form-label required" for="form3Examplev5">Año</label>
                                        <input type="cano" formControlName="cano" class="form-control form-control-lg"  [ngClass]="{ 'is-invalid' : submitted && search_form.get('cano').errors }" />
                                      </div>
                                    </div>
                                    
                              <div class="col-md-3 mb-4 pb-2">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && search_form.get('bactivo').errors }">
                                    <label>{{ "TABLES.BRANDS.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && search_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "TABLES.BRANDS.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            </div> 
                      </div>
                  </div>
              </div> 
              </form>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>
