<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "CONFIGURATION.PROCESSESCONFIGURATION.PROCESS" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editProcess()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "CONFIGURATION.PROCESSESCONFIGURATION.NAME" | translate }}</label>
                                    <input type="text" formControlName="xproceso" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xproceso').errors }">
                                    <div *ngIf="submitted && detail_form.get('xproceso').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('xproceso').errors.required">{{ "CONFIGURATION.PROCESSESCONFIGURATION.REQUIREDNAME" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="bactivo" class="form-check-input" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('bactivo').errors }">
                                    <label>{{ "CONFIGURATION.PROCESSESCONFIGURATION.ACTIVE" | translate }}</label>
                                    <div *ngIf="submitted && detail_form.get('bactivo').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('bactivo').errors.required">{{ "CONFIGURATION.PROCESSESCONFIGURATION.REQUIREDACTIVE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "CONFIGURATION.PROCESSESCONFIGURATION.MODULESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addModule()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.ADDMODULE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="moduleList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="moduleRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onModulesGridReady($event)">
                            <ag-grid-column headerName="Group" field="xgrupo" [width]="518" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Module" field="xmodulo" [width]="518" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "CONFIGURATION.PROCESSESCONFIGURATION.CANCELLATIONCAUSESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addCancellationCause()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.ADDCANCELLATIONCAUSE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="cancellationCauseList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="cancellationCauseRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onCancellationCausesGridReady($event)">
                            <ag-grid-column headerName="Name" field="xcausaanulacion" [width]="1036" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "CONFIGURATION.PROCESSESCONFIGURATION.GENERALSTATUSESLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addGeneralStatus()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.ADDGENERALSTATUS" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="generalStatusList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="generalStatusRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onGeneralStatusesGridReady($event)">
                            <ag-grid-column headerName="Name" field="xestatusgeneral" [width]="1036" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "CONFIGURATION.PROCESSESCONFIGURATION.DOCUMENTSLIST" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel || !editStatus" class="btn company-detail-button float-right mr-1" type="button" (click)="addDocument()" *ngIf="canEdit || canCreate">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "CONFIGURATION.PROCESSESCONFIGURATION.ADDDOCUMENT" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="documentList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="documentRowClicked($event)" [enableCellChangeFlash]="true" (gridReady)="onDocumentsGridReady($event)">
                            <ag-grid-column headerName="Name" field="xdocumento" [width]="1036" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

