
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Colores y logos de las paginas */

.form-outline .form-control {
    background-color: #e8e8e86e;
}


.card-header{
    background-color:#fdd213;
}
.company-detail-button{
    background-color:#fff0ad;
    color: #4e4e4e;
    text-transform: capitalize;
}
button{
    background-color:#fff0ad;
    text-transform: capitalize;
}
.navbar{
    position: initial;
    z-index: 999;
}

.logocompany{
    background: url("./assets/imagenes/logo.png") no-repeat;
    background-size: contain;
    padding: 83px;
    margin-top: 9px;
  }
.logocompany-system{
    background: url("./assets/imagenes/logo.png") no-repeat;
    background-size: contain;
    padding: 83px;
    margin-top: 9px;
    margin-bottom: 10px;
  }

nav{
    /* margin-top: -96px; */
    margin-left: 20px;
}

.col-sm-12,
.col-6,
.card{
    position: static;
}

:root {
    --color-default: #364d59;
    --color-primary: #fff0ad;
    --color-secondary: #52565e;
}
.success-toast {
    background-color: green;
    color: white;
}
.error-toast {
  background-color: red;
  color: white;
}