
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Colores y logos de las paginas */

.form-outline .form-control {
    background-color: #e8e8e86e;
}


.card-header{
    background-color:#72b6ff;
    color: white;

}
.company-detail-button{
    background-color:#55a6f1;
    color: #ffffff;
    text-transform: capitalize;
}
button{
    background-color:#55a6f1;
    text-transform: capitalize;
}
.navbar{
    position: absolute;
    z-index: 999;
}

.logocompany{
    background: url("./assets/imagenes/logo.png") no-repeat;
    background-size: contain;
    padding: 83px;
    margin-top: 9px;
  }
.logocompany-system{
    background: url("./assets/imagenes/logo.png") no-repeat;
    background-size: contain;
    padding: 56px 237px 38px 35px;
    margin-top: 45px;
  }

.col-sm-12,
.col-6,
.card{
    position: static;
}

.success-toast {
    background-color: green;
    color: white;
}
.error-toast {
  background-color: red;
  color: white;
}

.py-4, .py-5 {
padding-top: 3rem !important;
  }

.modal {
    z-index: 1058; 
}  
.modal-content {
    width: 102%;
}  

.mat-drawer-container {
    color: #000000de;
    background-color: transparent;
}