<app-toolbar ></app-toolbar>
<div class="container py-5">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "TABLES.VERSIONS.SEARCHVERSION" | translate }}
                        </div>
                        <div class="col-6">
                            <button class="btn company-detail-button float-right" type="button" (click)="goToDetail()">
                                {{ "TABLES.VERSIONS.CREATE" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(search_form.value)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "TABLES.VERSIONS.SEARCH" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="search_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.BRAND" | translate }}</label>
                                    <select formControlName="cmarca" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmarca').errors }" (change)="modelDropdownDataRequest()">
                                        <option></option>
                                        <option *ngFor="let brand of brandList" value="{{ brand.id }}">{{ brand.value || translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('cmarca').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.MODEL" | translate }}</label>
                                    <select formControlName="cmodelo" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmodelo').errors }">
                                        <option></option>
                                        <option *ngFor="let model of modelList" value="{{ model.id }}">{{ model.value || translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && search_form.get('cmodelo').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "TABLES.VERSIONS.NAME" | translate }}</label>
                                    <input type="text" formControlName="xversion" class="form-control" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xversion').errors }">
                                    <div *ngIf="submitted && search_form.get('xversion').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "TABLES.VERSIONS.VERSIONSLIST" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular style="width: 100%; height: 267px;" class="ag-theme-alpine" [rowData]="versionList" [pagination]="true" [paginationAutoPageSize]="true" rowSelection="single" (rowClicked)="rowClicked($event)">
                            <ag-grid-column headerName="Code" field="cversion" [width]="170" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Associate Code" field="casociado" [width]="170" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Name" field="xversion" [width]="170" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Brand" field="xmarca" [width]="170" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Model" field="xmodelo" [width]="170" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Active" field="xactivo" [width]="173" [sortable]="false"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

