<app-toolbar ></app-toolbar>
<div class="container">
    <div class="row mt-5" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">
            <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PRODUCTS.PLAN_RCV.PLAN_RCV" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLANS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editPlan()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLANS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading" class="btn company-detail-button float-right mr-1" type="button" (click)="convertCamp()" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "PRODUCTS.PLAN_RCV.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Nombre del Plan</label>
                                    <input type="text" formControlName="xplan_rc" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('xplan_rc').errors }">
                                    <div *ngIf="submitted && detail_form.get('xplan_rc').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Costo</label>
                                    <input type="text" formControlName="mcosto" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mcosto').errors }">
                                    <div *ngIf="submitted && detail_form.get('mcosto').errors"  class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-8">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "PRODUCTS.PLAN_RCV.AMOUNTS" | translate }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>LESIONES CORPORALES</em>
                                    </label>
                                    <input type="text" formControlName="mlesioncor" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mlesioncor').errors }">
                                    <div *ngIf="submitted && detail_form.get('mlesioncor').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mlesioncor').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>LESIONES CORPORALES POR PERSONAS</em>
                                    </label>
                                    <input type="text" formControlName="mlesioncor_per" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mlesioncor_per').errors }">
                                    <div *ngIf="submitted && detail_form.get('mlesioncor_per').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mlesioncor_per').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>DAÑOS A LA PROPIEDAD AJENA</em>
                                    </label>
                                    <input type="text" formControlName="mdanosp_ajena" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mdanosp_ajena').errors }">
                                    <div *ngIf="submitted && detail_form.get('mdanosp_ajena').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mdanosp_ajena').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>GASTOS MEDICOS</em>
                                    </label>
                                    <input type="text" formControlName="mgastos_medicos" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mgastos_medicos').errors }">
                                    <div *ngIf="submitted && detail_form.get('mgastos_medicos').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mgastos_medicos').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>MUERTE CONDUCTOR / PASAJEROS</em>
                                    </label>
                                    <input type="text" formControlName="mmuerte" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mmuerte').errors }">
                                    <div *ngIf="submitted && detail_form.get('mmuerte').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mmuerte').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>SERVICIOS FUNERARIOS</em>
                                    </label>
                                    <input type="text" formControlName="mservicios_fune" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mservicios_fune').errors }">
                                    <div *ngIf="submitted && detail_form.get('mservicios_fune').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mservicios_fune').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>PRIMA SIN IMPUESTO</em>
                                    </label>
                                    <input type="text" formControlName="mprima_sin_rep" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mprima_sin_rep').errors }">
                                    <div *ngIf="submitted && detail_form.get('mprima_sin_rep').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mprima_sin_rep').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>IMPUESTO</em>
                                    </label>
                                    <input type="text" formControlName="mimpuesto" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mimpuesto').errors }">
                                    <div *ngIf="submitted && detail_form.get('mimpuesto').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mimpuesto').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-8 col-md-4">
                                <div class="form-group">
                                    <label>
                                        <em>Prima</em>
                                    </label>
                                    <input type="text" formControlName="mprima" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('mprima').errors }" (change)="amount()">
                                    <div *ngIf="submitted && detail_form.get('mprima').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('mprima').errors.required">{{ "SUBSCRIPTION.FLEETCONTRACTSMANAGEMENT.REQUIREDSTARTDATE" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<app-footer></app-footer>